<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no">
		<title>易房助手-答疑解惑</title>
		<meta name="Keywords" content="易房助手-答疑解惑">
		<meta name="Description" content="易房助手-答疑解惑">
		<link href="../images/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../images/css/swiper.min.css">
		<link href="../images/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick-theme.css" rel="stylesheet" type="text/css">
		<link href="../images/css/style.css" rel="stylesheet" type="text/css">
		<script src="../images/js/jquery.min.js"></script>
		<script src="../images/js/vue.min.js"></script>
		<script src="../images/js/swiper.min.js"></script>
		<script src="../images/js/slick.js"></script>
		<script src="../images/js/IPurl.js"></script>
		<script src="../images/js/video/TcPlayer-2.3.2.js" charset="utf-8"></script>
	</head>

	<body style="">
		<div id="wrap">
			<div class="top_box">
				<div class="w1200 w12001 oh">
					<a href="index.html" class="logo fl">
						<img src="../images/logo.png" alt="">
					</a>
					<div class="sj_btn">
						<p></p>
						<p></p>
						<p></p>
					</div>
					<a class="go_my fr" href="./my.html">
						<img src="../images/my.png" alt="">
					</a>
					<div class="nav_box fr oh">
						<a href="index.html" id="active0">首&nbsp;&nbsp;&nbsp;页</a>

						<a href="fwlb.html" id="active1">服务类别</a>
						
						<a href="dyjh.html" id="active2" class="active">答疑解惑</a>
						
						<a href="jyzs.html" id="active4">交易知识</a>
						<a href="fwal.html" id="active5">服务案例</a>
						<a href="sfcs.html" id="active6">税费测算</a>

					</div>
					<div class="pc_tel fr">
						<img src="../images/pc_tel.png" alt="">400-690-5050
					</div>
				</div>
			</div>
			<!-- banner -->
			<div class="dyjh_banner  w1200 w12001">
				<!-- <div class="dyjh_banner_b dis_flex ju_b aic"  style="background-image: url(../images/dyjh_banner_03.jpg);">
					<div class="dyjh_b_l dis_flex_c ju_b">
						<div class="dyjh_b_l1">居间服务</div>
						<div class="dyjh_b_l2">居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务</div>
					</div>
					<a href="###" class="dyjh_buy_btn dis_flex aic ju_c">立即购买</a>
				</div> -->
				<div class="slider single-item">
					<div>
						<a href="fwlb_details_pay.html" class="dyjh_banner_b dis_flex" style="background-image: url(../images/gr_banner_03.jpg);"></a>
					</div>
					<div>
						<a href="fwlb_details_pay.html" class="dyjh_banner_b dis_flex" style="background-image: url(../images/gr_banner_03.jpg);"></a>
					</div>
				</div>
			</div>
			<div class="fwlb_h_tit">
				<div class="w1200 w12001 fwlb_h_tit1 dis_flex aic" ><a href="index.html">易房助手</a>＞<a href="dyjh.html">答疑解惑</a>＞答疑解惑详情页</div>
			</div>
			<div class="index_box3 clearfix" style="padding-bottom: 20px;padding-top: 0;">
				<div class="  w1200 w12001">
				
					<div class="index4_b index4_b_dyjh">
						<div class="in4b_b dis_flex ju_b" style="border-bottom: 0;">
							<div class="in4b_bl">
								<div class="dyjh_wenti dis_flex aic">
									<div class="dis_flex_c ju_b" style="width: 100%;height: 100%;">
										<div class="dyjh_user_tit dis_flex aic">
											<div class="dyjh_l dis_flex aic ju_c">
												问
											</div>
											<div class="dyjh_user_tit_msg oh1 flex_1">北京的二手房交易流程是什么？二手房过户费用都有哪些？</div>
										</div>
										<div class="dyjh_user_msg dis_flex aic">
											<div class="dyjh_user_name">用户123</div>
											<div class="dyjh_user_time">2020-02-06</div>
										</div>
									</div>
									<div class="dis_flex aic share_btn"><img src="../images/share.png" alt="">分享</div>
								</div>
								<div class="rdxx_list">
									<div class="dyjhd_num dis_flex aic">2位顾问解答</div>
									<div class="dis_flex_c aic ju_c">
										<img src="../images/hd_null.png" alt="" style="margin: 30px auto;">
										<div class="fz16" style="color: #CACEE1;">暂无回答</div>
									</div>
									<div class="rdxx_li dyjh_li dis_flex" v-for="item in 4">
										<div class="dyjhd_tx" style="background-image: url(../images/user_tx.png);"></div>
										<div class="flex_1 rdxx_li_msg dis_flex_c ju_b">
											<div class="dis_flex ju_b rdxx_li_d1">
												<div class="flex_1 rdxx_li_tit">李连号</div>
											</div>
											<div class="rdxx_li_d2 dis_flex ju_b">
												<div class="flex_1 oh1">有抵押的房产是无法出售的，无法进行过户交易</div>
												<a href="###" class="dyjhd_telewn dis_flex aic">扫码打电话<img src="../images/tel_ewm_03.jpg" alt=""></a>
											</div>
											<div class="dis_flex  ju_b  dy_hf_btn_li">
												<div class="fz12 c9">2020-02-06</div>
												<div class="fz14 c0D1931">电话：40018925843转1384</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="in4b_br">
								<div class="in4b_br_box">
									<div class="dis_flex in4b_br_tit">我要提问</div>
									<form class="tw_form" action="">
										<div class="dyjh_tw_content">
											<textarea name="content" placeholder="请描述您的问题（至少6字）" v-model="content" maxlength="100"></textarea>
											<div class="tw_cnum">{{content.length}}/100</div>
										</div>
										
										<div class="dis_flex ju_b">
											<div></div>
											<input type="submit" class="form_btn" value="发布提问">
										</div>
									</form>
								</div>
								<a class="dyjh_r_btn" href="sfcs.html" style="background-image: url(../images/dyjh_cs_07.jpg);"></a>
								<div class="in4b_br_box">
									<div class="dis_flex in4b_br_tit">相关问答</div>
									<div class="r_wd_list">
										<a href="dyjh_details.html" class="r_wd_li dis_flex_c ju_b" v-for="item in 4">
											<div class="dyjh_user_tit dis_flex aic">
												<div class="dyjh_l dis_flex aic ju_c">
													问
												</div>
												<div class="dyjh_user_tit_msg oh1 flex_1">北京的二手房交易流程是什么？二手房过户费用都有哪些？</div>
											</div>
											<div class="dyjh_user_msg dis_flex aic">
												<div class="dyjh_user_name">用户123</div>
												<div class="dyjh_user_time">2020-02-06</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
			<div class="index_box6 clearfix">
				<div class="w1200 w12001 dis_flex ju_b">
					<div class="index6_list dis_flex ju_b">
						<div class="index6_li">
							<div class="index6_li_d1">公司信息</div>
							<a class="index6_li_d1" href="about.html?type=1">关于我们</a>
							<a class="index6_li_d1" href="yhxy.html">用户协议</a>
							<a class="index6_li_d1" href="ysqy.html">隐私政策</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">服务咨询</div>
							<a class="index6_li_d1">400-189-3038</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">商务合作</div>
							<a class="index6_li_d1">1745843160</a>
						</div>
					</div>
					<div class="gzh_box">
						<img src="../images/index_bewm.png" alt="">
						<div>关注公众号<br>获取更多过户知识</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div class="footer tac">
			<div class="w1200">
				copyright 2003-2022 北京叁叁八五资讯有限公司 | 京ICP备18037428号-1 京公网安备 11010602100441号<br>
				违法和不良信息举报电话：010-56319651 举报邮箱：jubao@3385.com
			</div>
		</div>
		<!-- 加载中 -->
		<div class="load_box" style="display: none;">
			<img src="../images/load.gif" alt="">加载中...
		</div>
		<!-- 加载中 -->
		<script>
			//开启加载层
			function openload() {
				$(".load_box").fadeIn(500);
			};
			//关闭加载层
			function closeload() {
				$(".load_box").fadeOut(500);
			};
			//加载完成关闭
			$(window).load(function() {
				closeload();
			});
			$(function() {
				// banner
				$('.single-item').slick({
					dots: true,
					speed: 500,
					arrows: false,
					slidesToShow: 1,
					slidesToScroll: 1,
					autoplay: true,
					autoplaySpeed: 3000
				});
				

			})



			var vm = new Vue({
				el: "#wrap",
				data: {
					rd_cur: 0, //热点分类
					ss_type: 0,
					content: '',

				},
				created: function() {},
				methods: {}
			});
			function rd_fuc(num){
				if(vm.rd_cur==num){
					return
				}
				vm.rd_cur=num
			}
			
		</script>


	</body>
</html>
