<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no">
		<title>易房助手-服务类别</title>
		<meta name="Keywords" content="易房助手-服务类别">
		<meta name="Description" content="易房助手-服务类别">
		<link href="../images/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../images/css/swiper.min.css">
		<link href="../images/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick-theme.css" rel="stylesheet" type="text/css">
		<link href="../images/css/style.css" rel="stylesheet" type="text/css">
		<script src="../images/js/jquery.min.js"></script>
		<script src="../images/js/vue.min.js"></script>
		<script src="../images/js/swiper.min.js"></script>
		<script src="../images/js/slick.js"></script>
		<script src="../images/js/IPurl.js"></script>
		<script src="../images/js/video/TcPlayer-2.3.2.js" charset="utf-8"></script>
	</head>

	<body style="">
		<div id="wrap">
			<div class="top_box">
				<div class="w1200 w12001 oh">
					<a href="index.html" class="logo fl">
						<img src="../images/logo.png" alt="">
					</a>
					<div class="sj_btn">
						<p></p>
						<p></p>
						<p></p>
					</div>
					<a class="go_my fr" href="./my.html">
						<img src="../images/my.png" alt="">
					</a>
					<div class="nav_box fr oh">
						<a href="index.html" id="active0">首&nbsp;&nbsp;&nbsp;页</a>

						<a href="fwlb.html" id="active1" class="active">服务类别</a>
						
						<a href="dyjh.html" id="active2">答疑解惑</a>
						
						<a href="jyzs.html" id="active4">交易知识</a>
						<a href="fwal.html" id="active5">服务案例</a>
						<a href="sfcs.html" id="active6">税费测算</a>

					</div>
					<div class="pc_tel fr">
						<img src="../images/pc_tel.png" alt="">400-690-5050
					</div>
				</div>
			</div>
		
			<div class="fwlb_h_tit">
				<div class="w1200 w12001 fwlb_h_tit1 fwlb_pay_tit1 dis_flex aic" >
					<a href="###" class="cur">1.提交订单</a>
					<span>→</span>
					<a href="###">2.支付的订单</a>
					<span>→</span>
					<a href="###">3.完成支付</a>
				</div>
			</div>
			<div class="index_box3 clearfix" style="margin-top: 0;padding-top: 0;">
				<div class="  w1200 w12001">
				
					<div class="index4_b index4_b_dyjh">
						<div class="in4b_b dis_flex ju_b" style="border-bottom: 0;">
							<div class="in4b_bl" style="width: 866px;">
								<form class="zflc_box" >
									<div class="zflc_xb" style="padding-top: 50px;">
										<div class="zflc_xb_tit">服务类型</div>
										<div class="zflc_xb_box">
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">服务类型：</div>
												<input type="hidden" name="fw_type" v-model="fw_type">
												<div class="flex_1 dis_flex aic fz16 fwb" style="color: #343434;">赠与过户</div>
											</div>
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">服务分类：</div>
												<input type="hidden" name="fw_type" v-model="fw_type">
												<div class="flex_1 dis_flex">
													<div class="select_li select_li2 fz14" :class="fw_type==0?'cur':''" @click="rd_fuc(0,0)">无公证赠与</div>
													<div class="select_li select_li2 fz14" :class="fw_type==1?'cur':''" @click="rd_fuc(0,1)">公证赠与</div>
													<div class="select_li select_li2 fz14" :class="fw_type==2?'cur':''" @click="rd_fuc(0,2)">港澳台和外都赠与</div>
												</div>
											</div>
											
										</div>
									</div>
									<div class="zflc_xb">
										<div class="zflc_xb_tit">房源信息</div>
										<div class="zflc_xb_box">
											
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">房源区域：</div>
												<div class="sfcs_n_li_srk dis_flex aic">
													<input class="flex_1" type="number" name="jy_code" v-model="jy_code" placeholder="请输入验证码">
												</div>
												<div class="dis_flex aic sr_tip">请正确选择</div>
											</div>
											
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">小区名称：</div>
												<div class="sfcs_n_li_srk dis_flex aic">
													<input class="flex_1" type="number" name="jy_code" v-model="jy_code" placeholder="请填写小区名称">
												</div>
												
											</div>
											
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">物业地址：</div>
												<div class="sfcs_n_li_srk dis_flex aic">
													<input class="flex_1" type="number" name="jy_code" v-model="jy_code" placeholder="请填写房源的详细地址">
												</div>
												<div class="dis_flex aic sr_tip">为保障你的合法权益，请正确填写</div>
											</div>
										</div>
									</div>
									<div class="zflc_xb">
										<div class="zflc_xb_tit">费用信息</div>
									</div>
								</form>
								
								
							</div>
							<div class="in4b_br" style="width: 320px;">
								<a class="dyjh_r_btn" href="###" style="background-image: url(../images/fwlb_xq_03.jpg);height: 170px;margin-top: 0;"></a>
								<a class="dyjh_r_btn" href="###" style="background-image: url(../images/fwlb_xq_06.jpg);height: 150px;"></a>
								<div class="in4b_br_box">
									<div class="dis_flex in4b_br_tit dis_flex aic ju_b lbxq_gwli_tit">顾问推荐 <a href="###" class="gogw_more">查看更多<i class="iconfont icon-next-m"></i></div>
									<div class="">
										<div class="zx_li lbxq_gwli" style="width: 280px;" v-for="item in 4">
											<div class="zx_li_b dis_flex ">
												<div class="zx_user" style="left: 67px;">
													<div class="zx_user_tx" style="background-image: url(../images/user_tx.png);"></div>
													<div class="zx_user_lv dis_flex aic ju_c" style="background-image: url(../images/user_lvbg.png);">好评率：100%</div>
												</div>
												<div class="zx_user_name">李连号</div>
												<div class="zx_user_tabs dis_flex">
													<div class="zx_user_tab">继承过户</div>
													<div class="zx_user_tab">买卖服务</div>
													<div class="zx_user_tab">买卖服务</div>
												</div>
												<div class="zx_user_tel">电话：40018925843转1384</div>
												<a href="###" class="zx_user_telewn dis_flex aic"><img src="../images/tel_ewm_03.jpg" alt="">扫码打电话</a>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					
					</div>
				</div>
			</div>
			<div class="index_box6 clearfix">
				<div class="w1200 w12001 dis_flex ju_b">
					<div class="index6_list dis_flex ju_b">
						<div class="index6_li">
							<div class="index6_li_d1">公司信息</div>
							<a class="index6_li_d1" href="###">关于我们</a>
							<a class="index6_li_d1" href="###">用户协议</a>
							<a class="index6_li_d1" href="###">隐私政策</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">服务咨询</div>
							<a class="index6_li_d1">400-189-3038</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">商务合作</div>
							<a class="index6_li_d1">1745843160</a>
						</div>
					</div>
					<div class="gzh_box">
						<img src="../images/index_bewm.png" alt="">
						<div>关注公众号<br>获取更多过户知识</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div class="footer tac">
			<div class="w1200">
				copyright 2003-2022 北京叁叁八五资讯有限公司 | 京ICP备18037428号-1 京公网安备 11010602100441号<br>
				违法和不良信息举报电话：010-56319651 举报邮箱：jubao@3385.com
			</div>
		</div>
		<!-- 加载中 -->
		<div class="load_box" style="display: none;">
			<img src="../images/load.gif" alt="">加载中...
		</div>
		<!-- 加载中 -->
		<script>
			//开启加载层
			function openload() {
				$(".load_box").fadeIn(500);
			};
			//关闭加载层
			function closeload() {
				$(".load_box").fadeOut(500);
			};
			//加载完成关闭
			$(window).load(function() {
				closeload();
			});
		$(function(){
			var mySwiper = new Swiper('.swiper_a', {
				autoplay: true,//可选选项，自动滑动
				loop: true,
				
			})
		})



			var vm = new Vue({
				el: "#wrap",
				data: {
					zf_cur: 0, //zf
					fw_type: 0,
					content: '',
					jy_code:''
				},
				created: function() {},
				methods: {}
			});
			function rd_fuc(type,num){
				if(type==0){
					if(vm.fw_type==num){
						return
					}
					vm.fw_type=num
				}
				
			}
			function getmore(){
				//获取数据
			}
		</script>


	</body>
</html>
