<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no">
		<title>易房助手-服务类别</title>
		<meta name="Keywords" content="易房助手-服务类别">
		<meta name="Description" content="易房助手-服务类别">
		<link href="../images/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../images/css/swiper.min.css">
		<link href="../images/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick-theme.css" rel="stylesheet" type="text/css">
		<link href="../images/css/style.css" rel="stylesheet" type="text/css">
		<link href="../images/css/pagination.css" rel="stylesheet" type="text/css">
		<script src="../images/js/jquery.min.js"></script>
		<script src="../images/js/jquery.pagination.js"></script>
		<script src="../images/js/layer/layer.js"></script>
		<script src="../images/js/clipboard.minbd62.js"></script>
		<script src="../images/js/vue.min.js"></script>
		<script src="../images/js/swiper.min.js"></script>
		<script src="../images/js/slick.js"></script>
		<script src="../images/js/IPurl.js"></script>
		<script src="../images/js/video/TcPlayer-2.3.2.js" charset="utf-8"></script>
	</head>

	<body style="">
		<div id="wrap">
			<div class="top_box">
				<div class="w1200 w12001 oh">
					<a href="index.html" class="logo fl">
						<img src="../images/logo.png" alt="">
					</a>
					<div class="sj_btn">
						<p></p>
						<p></p>
						<p></p>
					</div>
					<a class="go_my fr" href="./my.html">
						<img src="../images/my.png" alt="">
					</a>
					<div class="nav_box fr oh">
						<a href="index.html" id="active0">首&nbsp;&nbsp;&nbsp;页</a>

						<a href="fwlb.html" id="active1" class="active">服务类别</a>
						
						<a href="dyjh.html" id="active2">答疑解惑</a>
						
						<a href="jyzs.html" id="active4">交易知识</a>
						<a href="fwal.html" id="active5">服务案例</a>
						<a href="sfcs.html" id="active6">税费测算</a>

					</div>
					<div class="pc_tel fr">
						<img src="../images/pc_tel.png" alt="">400-690-5050
					</div>
				</div>
			</div>
		
			<div class="fwlb_h_tit">
				<div class="w1200 w12001 fwlb_h_tit1 dis_flex aic" ><a href="index.html">易房助手＞</a><a href="fwlb.html">服务类别＞</a>服务类别详情</div>
			</div>
			<div class="index_box3 clearfix" style="margin-top: 0;padding-top: 0;">
				<div class="  w1200 w12001">
				
					<div class="index4_b index4_b_dyjh">
						<div class="in4b_b dis_flex ju_b" style="border-bottom: 0;">
							<div class="in4b_bl" style="width: 866px;">
								<div class="fwlb_msg dis_flex ju_b" >
									<div class="swiper-container swiper_a">
									    <div class="swiper-wrapper">
									        <div class="swiper-slide">
														<a class="fwlb_banner">
															<div style="background-image: url(../images/fw_bg_4.png);"></div>
														</a>
													</div>
									        <div class="swiper-slide">
														<a class="fwlb_banner">
															<div style="background-image: url(../images/fw_bg_4.png);"></div>
														</a>
													</div>
									        <div class="swiper-slide">
														<a class="fwlb_banner">
															<div style="background-image: url(../images/fw_bg_4.png);"></div>
														</a>
													</div>
									    </div>
									   
									</div>
									<div class="flex_1 fwlb_msg_msg dis_flex_c ju_a">
										<a @click="share_tk=true" href="###" class="xq_share dis_flex aic ju_c"><i class="iconfont icon-fenxiang2-copy-copy"></i>分享</a>
										<div class="fwlb_msg_d1">居间服务</div>
										<div class="fwlb_msg_d2">为买卖双方提供房产交易全流程服务</div>
										<div class="fwlb_msg_d3">价格：<b>￥</b><span>800.00</span></div>
										<div class="fwlb_msg_d3 dis_flex aic cpointer" @click="bz_type=!bz_type">
											保障：<img v-if="bz_type==1" src="../images/duihao.png" alt=""><img v-if="bz_type==0" src="../images/duihao1.png" alt=""><div class="fz16 c3">加载服务保险服务</div>
										</div>
										<a href="fwlb_details_pay.html" class="fwlb_msg_d4 dis_flex aic ju_c">立即购买</a>
									</div>
								</div>
								<div class="fwlb_box">
									<div class="fwlb_tabs dis_flex">
										<div :class="fw_cur==0?'cur':''" @click="rd_fuc(0)">服务介绍</div>
										<div :class="fw_cur==1?'cur':''" @click="rd_fuc(1)">服务案例</div>
										<div :class="fw_cur==2?'cur':''" @click="rd_fuc(2)">答疑解惑</div>
										<div :class="fw_cur==3?'cur':''" @click="rd_fuc(3)">用户评价</div>
									</div>
									<div v-if="fw_cur==0" class="fwlb_fwb">
										<img src="../images/fw_js.jpg" alt="">
										<img src="../images/fw_lc.jpg" alt="">
										<img src="../images/fw_js.jpg" alt="">
										<img src="../images/fw_lc.jpg" alt="">
									</div>
									<div v-show="fw_cur==1" class="xq_fwlb_box">
										<div class="fwal_r_list dis_flex" style="flex-wrap: wrap;">
											<a href="fwal_details.html" class="fwal_li" v-for="item in 12">
												<div class="div_img fwal_li_img" style="background-image: url(../images/fw_bg_5.png);"></div>
												<div class="fwal_text">
													<div class="oh2">公婆7年前买房没办过户手续，现在过户还来得及吗</div>
												</div>
											</a>
										</div>
										<div class="tac" style="padding: 20px 0;margin: 0 auto;">
											<div class="m-style M-box3"></div>
										</div>
										<!-- <div class="zz_page_box dis_flex aic ju_c">
											<a class="cur" href="###">1</a>
											<a href="###">2</a>
											<a href="###">3</a>
											<a href="###">下一页</a>
											<a href="###">尾页</a>
										</div> -->
									</div>
									<div  v-show="fw_cur==2" class="xq_fwlb_box">
										<div class="rdxx_li dyjh_li " v-for="item in 4">
											<div class="dyjh_user_tit dis_flex aic">
												<div class="dyjh_l dis_flex aic ju_c">
													问
												</div>
												<div class="dyjh_user_tit_msg oh1 flex_1">北京的二手房交易流程是什么？二手房过户费用都有哪些？</div>
											</div>
											<a href="gw_xq.html" class="dis_flex">
												<div class="xqdy_tx">
													<div class="dyjhd_tx" style="background-image: url(../images/user_tx.png);"></div>
													<div class="zx_user_lv dis_flex aic ju_c " style="background-image: url(&quot;../images/user_lvbg.png&quot;);">好评率：100%</div>
												</div>
												<div class="flex_1 rdxx_li_msg dis_flex_c ju_b" style="padding: 20px 0;">
													<div class="dis_flex ju_b rdxx_li_d1 boxsiz">
														<div class="flex_1 rdxx_li_tit">李连号</div>
														<div class="fz14 c0D1931  flex_1 dis_flex aic" style="flex-direction: row-reverse;padding-right: 20px;">电话：40018925843转1384</div>
														<!-- <a href="###" class="dyjhd_telewn dis_flex aic"><img src="../images/tel_ewm_03.jpg" alt="">扫码打电话</a> -->
														<div class="dyjhd_telewn dis_flex aic smtel_box">
															<img src="../images/tel_ewm_03.jpg" alt="">扫码打电话
															<div class="smtel_tk">
																<img src="../images/index_bewm.png" alt="">
															</div>
														</div>
													</div>
													<div class="rdxx_li_d2 dis_flex ju_b">
														<div class="flex_1 oh1">有抵押的房产是无法出售的，无法进行过户交易</div>
														
													</div>
													<div class="dis_flex  ju_b  dy_hf_btn_li">
														<div class="fz12 c9">2020-02-06</div>
														
													</div>
												</div>
											</a>
											
										</div>
										<div class="tac" style="padding: 20px 0;margin: 0 auto;">
											<div class="m-style M-box4"></div>
										</div>
									</div>
									<div v-show="fw_cur==3" class="xq_fwlb_box">
										<div class="pingjia_li dis_flex" v-for="item in 10">
											<div class="pj_tx" style="background-image: url(../images/tx.png);"></div>
											<div class="flex_1">
												<div class="pj_name">洗净哎</div>
												<div class="pj_name">
													<i class="iconfont icon-wujiaoxingxingxingshoucangdianji"></i>
													<i class="iconfont icon-wujiaoxingxingxingshoucangdianji"></i>
													<i class="iconfont icon-wujiaoxingxingxingshoucangdianji"></i>
													<i class="iconfont icon-wujiaoxingxingxingshoucangdianji"></i>
													<i class="iconfont icon-wujiaoxingxingxingshoucangdianji"></i>
													非常满意
												</div>
												<div class="pj_name">小伙子特别能干，真的很好，辛苦了</div>
											</div>
										</div>
										<div class="tac" style="padding: 20px 0;margin: 0 auto;">
											<div class="m-style M-box5"></div>
										</div>
										<!-- <div class="zz_page_box dis_flex aic ju_c">
											<a class="cur" href="###">1</a>
											<a href="###">2</a>
											<a href="###">3</a>
											<a href="###">下一页</a>
											<a href="###">尾页</a>
										</div> -->
									</div>
								</div>
								
							</div>
							<div class="in4b_br" style="width: 320px;">
								<a class="dyjh_r_btn" href="my.html?type=4&s=111" style="background-image: url(../images/fwlb_xq_03.jpg);height: 170px;margin-top: 0;"></a>
								<a class="dyjh_r_btn" href="sfcs.html" style="background-image: url(../images/fwlb_xq_06.jpg);height: 150px;"></a>
								<div class="in4b_br_box">
									<div class="dis_flex in4b_br_tit dis_flex aic ju_b lbxq_gwli_tit">顾问推荐 <a @click="js_zf=true" href="###" class="gogw_more">查看更多<i class="iconfont icon-next-m"></i></div>
									<div class="">
										<a href="gw_xq.html" class="zx_li lbxq_gwli" style="width: 280px;" v-for="item in 4">
											<div class="zx_li_b dis_flex_c ">
												<div class="zx_user" style="left: 67px;">
													<div class="zx_user_tx" style="background-image: url(../images/user_tx.png);"></div>
													<div class="zx_user_lv dis_flex aic ju_c" style="background-image: url(../images/user_lvbg.png);">好评率：100%</div>
												</div>
												<div class="zx_user_name">李连号</div>
												<div class="zx_user_tabs dis_flex">
													<div class="zx_user_tab">继承过户</div>
													<div class="zx_user_tab">买卖服务</div>
													<div class="zx_user_tab">买卖服务</div>
												</div>
												<div class="zx_user_tel">电话：40018925843转1384</div>
												<div class="zx_user_telewn dis_flex aic smtel_box">
													<img src="../images/tel_ewm_03.jpg" alt="">扫码打电话
													<div class="smtel_tk1">
														<img src="../images/index_bewm.png" alt="">
													</div>
												</div>
												
											</div>
										</a>
									</div>
								</div>
								
							</div>
						</div>
					
					</div>
				</div>
			</div>
			<!-- 立即分享 -->
			<div class="tk_box" v-if="share_tk"  :style="share_tk?'display:block;':''">
				<div class="tk_ccz">
					<div class="zf_tk share_tkbox">
						<div class="tk_off">
							<div class="tk_off_btn" @click="share_tk=false"></div>
						</div>
						<div class="share_tk_inr dis_flex">
							<div class="share_tk_L flex_1 dis_flex_c aic">
								<div class="shake_tk_ewm ">
									<img src="../images/index_bewm.png" alt="">
								</div>
								<div class="fz16 c34">微信扫一扫 分享好友</div>
							</div>
							<div class="share_tk_c"></div>
							<div class="share_tk_R flex_1 dis_flex_c aic">
								<div class="shake_tk_copy ">
									<img src="../images/share_copy_03.jpg" alt="">
								</div>
								<div class="fz16 c34">点击复制链接</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="tk_box" v-if="js_zf" :style="js_zf?'display:block;':''">
				<div class="tk_ccz">
					<div class="zf_tk zf_tk1">
						<div class="tk_off dis_flex aic">
							<div class="fz18 fwb dis_flex aic" style="color: #000;">更多顾问</div>
							<div class="tk_off_btn" @click="js_zf=false">
								<img src="../images/guanbi.png" alt="">
							</div>
						</div>
						<div class="tk_inr" style="overflow-y: auto;max-height: 500px;">
							<div v-for="(item,index) in 5" class="xzgw_li dis_flex ju_b aic">
								<a href="gw_xq.html" class="tw_bb_b tw_bb_b1 dis_flex" style="width: 549px;">
									<div class="gw_twtx">
										<div class="gw_tximg" style="background-image: url(../images/user_tx.png);"></div>
										<div class="zx_user_lv dis_flex aic ju_c" style="background-image: url(../images/user_lvbg.png);">好评率：100%</div>
									</div>
									<div class="gw_msg">
										<div class="gw_msg_d1">李连号</div>
										<div class="zx_user_tabs gw_user_tabs dis_flex">
											<div class="zx_user_tab">继承过户</div>
											<div class="zx_user_tab">买卖服务</div>
											<div class="zx_user_tab">买卖服务</div>
										</div>
										<div class="zx_user_tel gw_user_tel">电话：40018925843转1384</div>
										<div href="###" class="zx_user_telewn gw_user_telewn dis_flex aic smtel_box">
											扫码打电话<img src="../images/tel_ewm_03.jpg" alt="">
											<div class="smtel_tk">
												<img src="../images/index_bewm.png" alt="">
											</div>
										</div>
									</div>
								</div>
								
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="index_box6 clearfix">
				<div class="w1200 w12001 dis_flex ju_b">
					<div class="index6_list dis_flex ju_b">
						<div class="index6_li">
							<div class="index6_li_d1">公司信息</div>
							<a class="index6_li_d1" href="about.html?type=1">关于我们</a>
							<a class="index6_li_d1" href="yhxy.html">用户协议</a>
							<a class="index6_li_d1" href="ysqy.html">隐私政策</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">服务咨询</div>
							<a class="index6_li_d1">400-189-3038</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">商务合作</div>
							<a class="index6_li_d1">1745843160</a>
						</div>
					</div>
					<div class="gzh_box">
						<img src="../images/index_bewm.png" alt="">
						<div>关注公众号<br>获取更多过户知识</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div class="footer tac">
			<div class="w1200">
				copyright 2003-2022 北京叁叁八五资讯有限公司 | 京ICP备18037428号-1 京公网安备 11010602100441号<br>
				违法和不良信息举报电话：010-56319651 举报邮箱：jubao@3385.com
			</div>
		</div>
		<!-- 加载中 -->
		<div class="load_box" style="display: none;">
			<img src="../images/load.gif" alt="">加载中...
		</div>
		<!-- 加载中 -->
		<script>
			//开启加载层
			function openload() {
				$(".load_box").fadeIn(500);
			};
			//关闭加载层
			function closeload() {
				$(".load_box").fadeOut(500);
			};
			//加载完成关闭
			$(window).load(function() {
				closeload();
			});
		

			$(function(){
				$('.M-box3').pagination({
						totalData: 100,
						showData: 10,
						// mode: 'fixed',
						callback: function(api) {
							console.log(api.getCurrent()) //页数
						}
				})
				$('.M-box4').pagination({
						totalData: 100,
						showData: 10,
						// mode: 'fixed',
						callback: function(api) {
							console.log(api.getCurrent()) //页数
						}
				})
				$('.M-box5').pagination({
						totalData: 100,
						showData: 10,
						// mode: 'fixed',
						callback: function(api) {
							console.log(api.getCurrent()) //页数
						}
				})
			})

			var vm = new Vue({
				el: "#wrap",
				data: {
					fw_cur: 0, //服务详情
					ss_type: 0,
					content: '',
					bz_type:0,
					js_zf:false,
					share_tk:false,
				},
				created: function() {},
				methods: {}
			});
			function rd_fuc(num){
				if(vm.fw_cur==num){
					return
				}
				vm.fw_cur=num
				//获取数据
			}
			function getmore(){
				//获取数据
			}
			
			
			$(function(){
				var mySwiper = new Swiper('.swiper_a', {
					autoplay: true,//可选选项，自动滑动
					loop: true,
					
				})
			
			
			// 复制
				// var clipboard = new ClipboardJS('.shake_tk_copy');
				var clipboard = new ClipboardJS('.shake_tk_copy', {
				  text: function () {
				    return 'http://www.baidu.com'
				  }
				});
				clipboard.on('success', function(e) {
					layer.msg('复制成功')
				    console.info('Action:', e.action);
				    console.info('Text:', e.text);
				    console.info('Trigger:', e.trigger);
				
				    e.clearSelection();
				});
				
				clipboard.on('error', function(e) {
				    console.error('Action:', e.action);
				    console.error('Trigger:', e.trigger);
				});
			
			})
		</script>


	</body>
</html>
