<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no">
		<title>易房助手-服务类别</title>
		<meta name="Keywords" content="易房助手-服务类别">
		<meta name="Description" content="易房助手-服务类别">
		<link href="../images/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../images/css/swiper.min.css">
		<link href="../images/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick-theme.css" rel="stylesheet" type="text/css">
		<link href="../images/css/style.css" rel="stylesheet" type="text/css">
		<script src="../images/js/jquery.min.js"></script>
		<script src="../images/js/vue.min.js"></script>
		<script src="../images/js/swiper.min.js"></script>
		<script src="../images/js/slick.js"></script>
		<script src="../images/js/IPurl.js"></script>
		<script src="../images/js/video/TcPlayer-2.3.2.js" charset="utf-8"></script>
	</head>

	<body>
		<div id="wrap">
			<div class="top_box">
				<div class="w1200 w12001 oh">
					<a href="index.html" class="logo fl">
						<img src="../images/logo.png" alt="">
					</a>
					<div class="sj_btn">
						<p></p>
						<p></p>
						<p></p>
					</div>
					<a class="go_my fr" href="./my.html">
						<img src="../images/my.png" alt="">
					</a>
					<div class="nav_box fr oh">
						<a href="index.html" id="active0">首&nbsp;&nbsp;&nbsp;页</a>

						<a href="fwlb.html" id="active1" class="active">服务类别</a>
						
						<a href="dyjh.html" id="active2">答疑解惑</a>
						
						<a href="jyzs.html" id="active4">交易知识</a>
						<a href="fwal.html" id="active5">服务案例</a>
						<a href="sfcs.html" id="active6">税费测算</a>

					</div>
					<div class="pc_tel fr">
						<img src="../images/pc_tel.png" alt="">400-690-5050
					</div>
				</div>
			</div>
		
			<div class="fwlb_h_tit">
				<div class="w1200 w12001 fwlb_h_tit1 fwlb_pay_tit1 dis_flex aic" >
					<a href="###" class="cur">1.提交订单</a>
					<span>→</span>
					<a href="###">2.支付订单</a>
					<span>→</span>
					<a href="###">3.完成支付</a>
				</div>
			</div>
			<div class="index_box3 clearfix" style="margin-top: 0;padding-top: 0;">
				<div class="  w1200 w12001">
				
					<div class="index4_b index4_b_dyjh">
						<div class="in4b_b dis_flex ju_b" style="border-bottom: 0;">
							<div class="in4b_bl" style="width: 866px;">
								<form class="zflc_box" >
									<div class="zflc_xb" style="padding-top: 50px;">
										<div class="zflc_xb_tit">服务类型</div>
										<div class="zflc_xb_box">
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">服务类型：</div>
												<input type="hidden" name="fw_type" v-model="fw_type">
												<div class="flex_1 dis_flex aic fz16 fwb" style="color: #343434;">赠与过户</div>
											</div>
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">服务分类：</div>
												<input type="hidden" name="fw_type" v-model="fw_type">
												<div class="flex_1 dis_flex">
													<div class="select_li select_li2 fz14" :class="fw_type==0?'cur':''" @click="rd_fuc(0,0)">无公证赠与</div>
													<div class="select_li select_li2 fz14" :class="fw_type==1?'cur':''" @click="rd_fuc(0,1)">公证赠与</div>
													<div class="select_li select_li2 fz14" :class="fw_type==2?'cur':''" @click="rd_fuc(0,2)">港澳台和外都赠与</div>
												</div>
											</div>
											
										</div>
									</div>
									<div class="zflc_xb">
										<div class="zflc_xb_tit">房源信息</div>
										<div class="zflc_xb_box">
											
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">房源区域：</div>
												<div class="sfcs_n_li_srk dis_flex aic">
													<!-- <input class="flex_1" type="number" name="jy_code" v-model="jy_code" placeholder="请输入验证码"> -->
													<select name="fy_qy">
														<option value="区域1">区域1</option>
														<option value="区域2">区域2</option>
														<option value="区域3">区域3</option>
														<option value="区域4">区域4</option>
													</select>
												</div>
												<div class="dis_flex aic sr_tip">请正确选择</div>
											</div>
											
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">小区名称：</div>
												<div class="sfcs_n_li_srk dis_flex aic">
													<input class="flex_1" type="text" name="xq_name" v-model="xq_name" placeholder="请填写小区名称">
												</div>
												
											</div>
											
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">物业地址：</div>
												<div class="sfcs_n_li_srk dis_flex aic">
													<input class="flex_1" type="text" name="wy_add" v-model="wy_add" placeholder="请填写房源的详细地址">
												</div>
												<div class="dis_flex aic sr_tip">为保障你的合法权益，请正确填写</div>
											</div>
										</div>
									</div>
									<div class="zflc_xb">
										<div class="zflc_xb_tit">费用信息</div>
										<div class="zflc_xb_box">
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">服务价格：</div>
												<!-- <input type="hidden" name="fu_pri" v-model="fw_type"> -->
												<div class="flex_1 dis_flex aic fz14" style="color: #333;">8500.00元</div>
											</div>
											<div class="dis_flex sfcs_n_li">
												<div class="sfcs_n_li_name">付款方式：</div>
												<input type="hidden" name="fk_type" v-model="fk_type">
												<div class="flex_1 dis_flex">
													<div class="select_li select_li2 fz14" :class="fk_type==0?'cur':''" @click="rd_fuc(1,0)">定金支付</div>
													<div class="select_li select_li2 fz14" :class="fk_type==1?'cur':''" @click="rd_fuc(1,1)">全款支付</div>
												</div>
											</div>
											<div class="dis_flex sfcs_n_li" style="margin: 0;">
												<div class="sfcs_n_li_name"></div>
												<div class="flex_1 dis_flex">
													<div class="fz14 c9">定金4000.00元</div>
												</div>
											</div>
											<div class="dis_flex sfcs_n_li" style="margin: 0;">
												<div class="sfcs_n_li_name"></div>
												<div class="flex_1 dis_flex">
													<div class="fz14 c9">全款4000.00元</div>
												</div>
											</div>
											<div class="dis_flex sfcs_n_li">
												<div class="flex_1 dis_flex ju_b aic">
														<div class="select_li select_li2 fz14 " :class="xy_type==1?'cur':''" @click="rd_fuc('ty')">
															我已阅读并同意《<a href="###" style="color: #3677F1;">易房助手服务协议</a>》
														</div>
														<div class="flex_1"></div>
														<div class="fz14 c3">
															订单金额：<span class="fwb" style="font-size: 24px;color: #F75B5B;">8500.00元</span>
														</div>
														<div class="zf_sub_btn dis_flex aic ju_c" @click="sub_fuc">提交</div>
												</div>
											</div>
											<div class="tk_box" v-if="js_zf" :style="js_zf?'display:block;':''">
												<div class="tk_ccz">
													<div class="zf_tk zf_tk1">
														<div class="tk_off dis_flex aic">
															<div class="fz18 fwb dis_flex aic" style="color: #000;">请选择您的服务顾问</div>
															<div class="tk_off_btn" @click="js_zf=false">
																<img src="../images/guanbi.png" alt="">
															</div>
														</div>
														<div class="tk_inr" style="height: 400px; overflow-y: auto;">
															<div v-for="(item,index) in 5" class="xzgw_li dis_flex ju_b aic">
																<a href="gw_xq.html" class="tw_bb_b tw_bb_b1 dis_flex" style="width: 442px;">
																	<div class="gw_twtx">
																		<div class="gw_tximg" style="background-image: url(../images/user_tx.png);"></div>
																		<div class="zx_user_lv dis_flex aic ju_c" style="background-image: url(../images/user_lvbg.png);">好评率：100%</div>
																	</div>
																	<div class="gw_msg">
																		<div class="gw_msg_d1">李连号</div>
																		<div class="zx_user_tabs gw_user_tabs dis_flex">
																			<div class="zx_user_tab">继承过户</div>
																			<div class="zx_user_tab">买卖服务</div>
																			<div class="zx_user_tab">买卖服务</div>
																		</div>
																		<div class="zx_user_tel gw_user_tel">电话：40018925843转1384</div>
																		<div href="###" class="zx_user_telewn gw_user_telewn dis_flex aic smtel_box">
																			扫码打电话<img src="../images/tel_ewm_03.jpg" alt="">
																			<div class="smtel_tk">
																				<img src="../images/index_bewm.png" alt="">
																			</div>
																		</div>
																	</div>
																</a>
																<div v-if="xz_gw==index" class="gw_xz cpointer"><img src="../images/duihao.png" alt=""></div>
																<div v-if="xz_gw!=index" class="gw_xz cpointer" @click="xz_gw=index"><img src="../images/duihao1.png" alt=""></div>
															</div>
														</div>
														<div class="xz_box dis_flex aic ">
															<div class="xz_box_btn dis_flex aic ju_c" @click="goOrder">选择完成创建订单</div>
															<div class="fz14 c9 cpointer" @click="goOrder">跳过直接下单</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
								
								
							</div>
							<div class="in4b_br" style="width: 320px;">
								<a class="dyjh_r_btn" href="my.html?type=4&s=111" style="background-image: url(../images/fwlb_xq_03.jpg);height: 170px;margin-top: 0;"></a>
								<a class="dyjh_r_btn" href="sfcs.html" style="background-image: url(../images/fwlb_xq_06.jpg);height: 150px;"></a>
								<div class="in4b_br_box">
									<div class="dis_flex in4b_br_tit dis_flex aic ju_b lbxq_gwli_tit">顾问推荐 <a @click="js_gw_more=true" href="###" class="gogw_more">查看更多<i class="iconfont icon-next-m"></i></div>
									<div class="">
										<a href="gw_xq.html" class="zx_li lbxq_gwli" style="width: 280px;" v-for="item in 4">
											<div class="zx_li_b dis_flex_c ">
												<div class="zx_user" style="left: 67px;">
													<div class="zx_user_tx" style="background-image: url(../images/user_tx.png);"></div>
													<div class="zx_user_lv dis_flex aic ju_c" style="background-image: url(../images/user_lvbg.png);">好评率：100%</div>
												</div>
												<div class="zx_user_name">李连号</div>
												<div class="zx_user_tabs dis_flex">
													<div class="zx_user_tab">继承过户</div>
													<div class="zx_user_tab">买卖服务</div>
													<div class="zx_user_tab">买卖服务</div>
												</div>
												<div class="zx_user_tel">电话：40018925843转1384</div>
												<div class="zx_user_telewn dis_flex aic smtel_box">
													<img src="../images/tel_ewm_03.jpg" alt="">扫码打电话
													<div class="smtel_tk1">
														<img src="../images/index_bewm.png" alt="">
													</div>
												</div>
												
											</div>
										</a>
									</div>
								</div>
								
							</div>
						</div>
					
					</div>
				</div>
			</div>
			<div class="tk_box" v-if="js_gw_more" :style="js_gw_more?'display:block;':''">
				<div class="tk_ccz">
					<div class="zf_tk zf_tk1">
						<div class="tk_off dis_flex aic">
							<div class="fz18 fwb dis_flex aic" style="color: #000;">更多顾问</div>
							<div class="tk_off_btn" @click="js_gw_more=false">
								<img src="../images/guanbi.png" alt="">
							</div>
						</div>
						<div class="tk_inr" style="overflow-y: auto;max-height: 500px;">
							<div v-for="(item,index) in 5" class="xzgw_li dis_flex ju_b aic">
								<a href="gw_xq.html" class="tw_bb_b tw_bb_b1 dis_flex" style="width: 549px;">
									<div class="gw_twtx">
										<div class="gw_tximg" style="background-image: url(../images/user_tx.png);"></div>
										<div class="zx_user_lv dis_flex aic ju_c" style="background-image: url(../images/user_lvbg.png);">好评率：100%</div>
									</div>
									<div class="gw_msg">
										<div class="gw_msg_d1">李连号</div>
										<div class="zx_user_tabs gw_user_tabs dis_flex">
											<div class="zx_user_tab">继承过户</div>
											<div class="zx_user_tab">买卖服务</div>
											<div class="zx_user_tab">买卖服务</div>
										</div>
										<div class="zx_user_tel gw_user_tel">电话：40018925843转1384</div>
										<div href="###" class="zx_user_telewn gw_user_telewn dis_flex aic smtel_box">
											扫码打电话<img src="../images/tel_ewm_03.jpg" alt="">
											<div class="smtel_tk">
												<img src="../images/index_bewm.png" alt="">
											</div>
										</div>
									</div>
								</div>
								
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="index_box6 clearfix">
				<div class="w1200 w12001 dis_flex ju_b">
					<div class="index6_list dis_flex ju_b">
						<div class="index6_li">
							<div class="index6_li_d1">公司信息</div>
							<a class="index6_li_d1" href="about.html?type=1">关于我们</a>
							<a class="index6_li_d1" href="yhxy.html">用户协议</a>
							<a class="index6_li_d1" href="ysqy.html">隐私政策</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">服务咨询</div>
							<a class="index6_li_d1">400-189-3038</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">商务合作</div>
							<a class="index6_li_d1">1745843160</a>
						</div>
					</div>
					<div class="gzh_box">
						<img src="../images/index_bewm.png" alt="">
						<div>关注公众号<br>获取更多过户知识</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div class="footer tac">
			<div class="w1200">
				copyright 2003-2022 北京叁叁八五资讯有限公司 | 京ICP备18037428号-1 京公网安备 11010602100441号<br>
				违法和不良信息举报电话：010-56319651 举报邮箱：jubao@3385.com
			</div>
		</div>
		<!-- 加载中 -->
		<div class="load_box" style="display: none;">
			<img src="../images/load.gif" alt="">加载中...
		</div>
		<!-- 加载中 -->
		<script>
			//开启加载层
			function openload() {
				$(".load_box").fadeIn(500);
			};
			//关闭加载层
			function closeload() {
				$(".load_box").fadeOut(500);
			};
			//加载完成关闭
			$(window).load(function() {
				closeload();
			});
		$(function(){
			var mySwiper = new Swiper('.swiper_a', {
				autoplay: true,//可选选项，自动滑动
				loop: true,
				
			})
		})



			var vm = new Vue({
				el: "#wrap",
				data: {
					zf_cur: 0, //zf
					fw_type: 0,
					content: '',
					xq_name:'',
					wy_add:'',
					fk_type:0,
					xy_type:0,
					xz_gw:0,
					
					
					js_zf:false,
					js_gw_more:false
				},
				created: function() {},
				methods: {}
			});
			function rd_fuc(type,num){
				if(type==0){
					if(vm.fw_type==num){
						return
					}
					vm.fw_type=num
				}
				if(type==1){
					if(vm.fk_type==num){
						return
					}
					vm.fk_type=num
				}
				if(type=='ty'){
					// if(vm.xy_type==num){
					// 	return
					// }
					vm.xy_type=!vm.xy_type
				}
			}
			function sub_fuc(){
				var data={
					fw_type:vm.fw_type,
					xq_name:vm.xq_name,
					wy_add:vm.wy_add,
				}
				vm.js_zf=true
			}
			function getmore(){
				//获取数据
			}
			function goOrder(){
				window.location.href="fwlb_details_pay2.html"
			}
		</script>


	</body>
</html>
