<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no">
		<title>易房助手</title>
		<meta name="Keywords" content="易房助手">
		<meta name="Description" content="易房助手">
		<link href="../images/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../images/css/swiper.min.css">
		<link href="../images/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick-theme.css" rel="stylesheet" type="text/css">
		<link href="../images/css/style.css" rel="stylesheet" type="text/css">
		<script src="../images/js/jquery.min.js"></script>
		<script src="../images/js/layer/layer.js"></script>
		<script src="../images/js/clipboard.minbd62.js"></script>
		<script src="../images/js/vue.min.js"></script>
		<script src="../images/js/swiper.min.js"></script>
		<script src="../images/js/slick.js"></script>
		<script src="../images/js/IPurl.js"></script>
		<script src="../images/js/video/TcPlayer-2.3.2.js" charset="utf-8"></script>
		<style>
			.zx_li+.zx_li{
				margin-left: 30px;
			}
		</style>
	</head>

	<body style="">
		<div id="wrap">
			<div class="top_box">
				<div class="w1200 w12001 oh">
					<a href="index.html" class="logo fl">
						<img src="../images/logo.png" alt="">
					</a>
					<div class="sj_btn">
						<p></p>
						<p></p>
						<p></p>
					</div>
					<!-- 登录后 -->
					<!-- <a class="go_my fr" href="./my.html">
						<img src="../images/my.png" alt="">
					</a> -->
					<!-- 登录前 -->
					<a class="go_my fr" href="./login.html">
						<img src="../images/my.png" alt="">
					</a>
					<div class="nav_box fr oh">
						<a href="index.html" id="active0" class="active">首&nbsp;&nbsp;&nbsp;页</a>

						<a href="fwlb.html" id="active1">服务类别</a>

						<a href="dyjh.html" id="active2">答疑解惑</a>

						<a href="jyzs.html" id="active4">交易知识</a>
						<a href="fwal.html" id="active5">服务案例</a>
						<a href="sfcs.html" id="active6">税费测算</a>

					</div>
					<div class="pc_tel fr">
						<img src="../images/pc_tel.png" alt="">400-690-5050
					</div>
				</div>
			</div>
			<!-- banner -->
			<div class="banner_box">
				<div class="slider single-item">
					<div>
						<a href="index.html" class="banner" style="background-image: url(../images/banner_02.png);"></a>
					</div>
					<div>
						<a href="index.html" class="banner" style="background-image: url(../images/banner_02.png);"></a>
					</div>
				</div>
			</div>
			<a href=""></a>
			<div class="index_box w1200 clearfix">
				<!-- <div class=""> -->
					<div class="fw_t dis_flex ju_b">
						<div class="fw_tit dis_flex aic"><img src="../images/fwlb_icon.png" alt="">服务类别</div>
						<a class="fw_more dis_flex aic" href="fwlb.html">更多服务<img src="../images/more01.png" alt=""></a>
					</div>
					<div class="fw_list dis_flex">
						<a class="fw_li" href="fwlb_details.html">
							<div class="fw_li_img" style="background-image: url(../images/fw_bg_1.png);"></div>
							<div class="fw_li_msg" style="background-image: url(../images/fw_xb1.png);">
								<div class="fw_d1">买卖过户</div>
								<div class="fw_d2 oh2">二手房买卖时业主的产权 过户给卖家</div>
								<div class="fw_d3">中介费0.5%</div>
							</div>
						</a>
						<a class="fw_li" href="fwlb_details.html">
							<div class="fw_li_img" style="background-image: url(../images/fw_bg_2.png);"></div>
							<div class="fw_li_msg" style="background-image: url(../images/fw_xb2.png);">
								<div class="fw_d1">继承过户</div>
								<div class="fw_d2 oh2">二手房买卖时业主的产权 过户给卖家</div>
								<div class="fw_d3">8500元起 </div>
							</div>
						</a>
						<a class="fw_li" href="fwlb_details.html">
							<div class="fw_li_img" style="background-image: url(../images/fw_bg_3.png);"></div>
							<div class="fw_li_msg" style="background-image: url(../images/fw_xb3.png);">
								<div class="fw_d1">赠与过户</div>
								<div class="fw_d2 oh2">二手房买卖时业主的产权 过户给卖家</div>
								<div class="fw_d3">6900元起</div>
							</div>
						</a>
						<a class="fw_li" href="fwlb_details.html">
							<div class="fw_li_img" style="background-image: url(../images/fw_bg_4.png);"></div>
							<div class="fw_li_msg" style="background-image: url(../images/fw_xb4.png);">
								<div class="fw_d1">居间服务</div>
								<div class="fw_d2 oh2">二手房买卖时业主的产权 过户给卖家</div>
								<div class="fw_d3">12000元起</div>
							</div>
						</a>
						<a class="fw_li" href="fwlb_details.html">
							<div class="fw_li_img" style="background-image: url(../images/fw_bg_5.png);"></div>
							<div class="fw_li_msg" style="background-image: url(../images/fw_xb5.png);">
								<div class="fw_d1">抵押登记</div>
								<div class="fw_d2 oh2">二手房买卖时业主的产权 过户给卖家</div>
								<div class="fw_d3">8500元起</div>
							</div>
						</a>
						<a class="fw_li" href="fwlb_details.html">
							<div class="fw_li_img" style="background-image: url(../images/fw_bg_6.png);"></div>
							<div class="fw_li_msg" style="background-image: url(../images/fw_xb6.png);">
								<div class="fw_d1">遗嘱服务</div>
								<div class="fw_d2 oh2">二手房买卖时业主的产权 过户给卖家</div>
								<div class="fw_d3">8500元起</div>
							</div>
						</a>
						<a class="fw_li" href="fwlb_details.html">
							<div class="fw_li_img" style="background-image: url(../images/fw_bg_7.png);"></div>
							<div class="fw_li_msg" style="background-image: url(../images/fw_xb7.png);">
								<div class="fw_d1">夫妻更名</div>
								<div class="fw_d2 oh2">二手房买卖时业主的产权 过户给卖家</div>
								<div class="fw_d3">6900元起</div>
							</div>
						</a>
						<a class="fw_li" href="fwlb.html">
							<div class="fw_li_img" style="background-image: url(../images/fw_bg_8.png);"></div>
							<div class="fw_li_msg" style="background-image: url(../images/fw_xb8.png);">
								<div class="fw_d1">更多服务</div>
								<div class="fw_d2 oh2">二手房买卖时业主的产权 过户给卖家</div>
								<div class="fw_d3"></div>
							</div>
						</a>
					</div>
				<!-- </div> -->
			</div>

			<div class="index_box1 clearfix">
				<div class="kemengxh dis_flex aic ju_c">
					<img src="../images/wh_icon.png" alt="">您可能关注
				</div>
				<div class="w1200 clearfix" style="overflow-x: auto;
			overflow-y: hidden;">
					<div class="w1200 clearfix kemengxh_list" style="white-space: nowrap;">
						<a href="kngz.html" class="kemengxh_li">夫妻过户更名</a>
						<a href="kngz.html" class="kemengxh_li">父母子女之间过户</a>
						<a href="kngz.html" class="kemengxh_li">兄弟姐妹之间过户</a>
						<a href="kngz.html" class="kemengxh_li">直系亲属 过户</a>
						<a href="kngz.html" class="kemengxh_li">老人过世分房</a>
						<a href="kngz.html" class="kemengxh_li">离婚分房</a>
						<a href="kngz.html" class="kemengxh_li">房产证加减名</a>
					</div>
				</div>
			</div>
			<!-- 咨询顾问 -->
			<div class="index_box2 clearfix">
				<div class="w1200 w12001 dis_flex aic ju_b">
					<div class="fw_more dis_flex aic" style="opacity: 0;">更多服务<img src="../images/more01.png" alt=""></div>
					<img src="../images/zx_tit.png" alt="">
					<a @click="js_zf=true" class="fw_more dis_flex aic" href="###">更多顾问<img src="../images/more01.png" alt=""></a>
				</div>
				<div class="dis_flex zx_list w1200 w12001 dis_flex ju_b">
					<a class="zx_li" href="gw_xq.html">
						<div class="zx_li_b">
							<div class="zx_user">
								<div class="zx_user_tx" style="background-image: url(../images/user_tx.png);"></div>
								<div class="zx_user_lv dis_flex aic ju_c" style="background-image: url(../images/user_lvbg.png);">好评率：100%</div>
							</div>
							<div class="zx_user_name">李连号</div>
							<div class="zx_user_tabs dis_flex">
								<div class="zx_user_tab">继承过户</div>
								<div class="zx_user_tab">买卖服务</div>
								<div class="zx_user_tab">买卖服务</div>
							</div>
							<div class="zx_user_tel">电话：40018925843转1384</div>
							<div href="###" class="zx_user_telewn dis_flex aic smtel_box">
								<img src="../images/tel_ewm_03.jpg" alt="">扫码打电话
								<div class="smtel_tk1">
									<img src="../images/index_bewm.png" alt="">
								</div>
							</div>
						</div>
					</a>

					<a class="zx_li" href="gw_xq.html" v-for="item in 4">
						<div class="zx_li_b">
							<div class="zx_user">
								<div class="zx_user_tx" style="background-image: url(../images/user_tx.png);"></div>
								<div class="zx_user_lv dis_flex aic ju_c" style="background-image: url(../images/user_lvbg.png);">好评率：100%</div>
							</div>
							<div class="zx_user_name">李连号</div>
							<div class="zx_user_tabs dis_flex">
								<div class="zx_user_tab">继承过户</div>
								<div class="zx_user_tab">买卖服务</div>
								<div class="zx_user_tab">买卖服务</div>
							</div>
							<div class="zx_user_tel">电话：40018925843转1384</div>
							<div href="###" class="zx_user_telewn dis_flex aic smtel_box">
								<img src="../images/tel_ewm_03.jpg" alt="">扫码打电话
								<div class="smtel_tk1">
									<img src="../images/index_bewm.png" alt="">
								</div>
							</div>
						</div>
					</a>
					
				</div>
				<div class="dis_flex  w1200 w12001">
					<a href="pipei.html" class="zn_btn dis_flex aic ju_c" style="background-image: url(../images/zn_bg_03.jpg);">30秒发布匹配，智能匹配顾问</a>
				</div>
			</div>
			<!-- 服务案例 -->
			<div class="index_box3 clearfix">
				<div class="dis_flex  w1200 w12001">
					<div class="cs_l_b" style="background-image: url(../images/cs_bg_11.jpg);">
						<div class="cs_l_d1">税费 测算</div>
						<div class="cs_l_d2"><span>税费</span> 测算方法</div>
						<div class="cs_l_d3">方便快捷，让您的税费更加明确</div>
						<a href="sfcs.html" class="cs_l_d4 dis_flex aic ju_c">立即测算 ></a>
					</div>
					<div class="fw_al_b">
						<div class="fw_t dis_flex ju_b">
							<div class="fw_tit dis_flex aic"><img src="../images/fwal_icon.png" alt="">服务案例</div>
							<a class="fw_more dis_flex aic" href="fwal.html">更多案例<img src="../images/more01.png" alt=""></a>
						</div>
						<div class="dis_flex fwal_b">
							<a href="fwal_details.html" class="fwal_li">
								<div class="div_img fwal_li_img" style="background-image: url(../images/fw_bg_1.png);"></div>
								<div class="fwal_text">
									<div class="oh2">公婆7年前买房没办过户手续，现在过户还来得及吗</div>
								</div>
							</a>


							<a href="fwal_details.html" class="fwal_li">
								<div class="div_img fwal_li_img" style="background-image: url(../images/fw_bg_1.png);"></div>
								<div class="fwal_text">
									<div class="oh2">公婆7年前买房没办过户手续，现在过户还来得及吗</div>
								</div>
							</a>
							<a href="fwal_details.html" class="fwal_li">
								<div class="div_img fwal_li_img" style="background-image: url(../images/fw_bg_1.png);"></div>
								<div class="fwal_text">
									<div class="oh2">公婆7年前买房没办过户手续，现在过户还来得及吗</div>
								</div>
							</a>
							<a href="fwal_details.html" class="fwal_li">
								<div class="div_img fwal_li_img" style="background-image: url(../images/fw_bg_1.png);"></div>
								<div class="fwal_text">
									<div class="oh2">公婆7年前买房没办过户手续，现在过户还来得及吗</div>
								</div>
							</a>
							<a href="fwal_details.html" class="fwal_li">
								<div class="div_img fwal_li_img" style="background-image: url(../images/fw_bg_1.png);"></div>
								<div class="fwal_text">
									<div class="oh2">公婆7年前买房没办过户手续，现在过户还来得及吗</div>
								</div>
							</a>
							<a href="fwal_details.html" class="fwal_li">
								<div class="div_img fwal_li_img" style="background-image: url(../images/fw_bg_1.png);"></div>
								<div class="fwal_text">
									<div class="oh2">公婆7年前买房没办过户手续，现在过户还来得及吗</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="index_box4 clearfix">
				<div class="  w1200 w12001">
					<img style="width: 100%;display: block;" src="../images/index4_tit_14.png" alt="">
					<div class="index4_b">
						<div class="in4b_b dis_flex ju_b">
							<div class="in4b_bl">
								<div class="dis_flex ju_b in4b_bl_t">
									<div class="rd_list dis_flex aic">
										<div class="rd_li" :class="rd_cur==0?'cur':''" @click="rd_fuc(0)">答疑解惑</div>
										<div class="rd_li" :class="rd_cur==1?'cur':''" @click="rd_fuc(1)">新闻热点</div>
									</div>
									<a v-if="rd_cur==0" class="fw_more  dis_flex aic" href="dyjh.html">更多解答<img src="../images/more01.png" alt=""></a>
									<a v-if="rd_cur==1" class="fw_more  dis_flex aic" href="rd_news.html">更多热点<img src="../images/more01.png" alt=""></a>
								</div>
								<div class="rdxx_list" v-if="rd_cur==0">
									<a href="dyjh_details.html" class="rdxx_li dyjh_li dis_flex" v-for="item in 3">
										<div class="dyjh_l dis_flex aic ju_c">
											问
										</div>
										<div class="flex_1 rdxx_li_msg dis_flex_c ju_b">
											<div class="dis_flex ju_b rdxx_li_d1">
												<div class="flex_1 rdxx_li_tit" style="font-size: 16px;">北京的二手房交易流程是什么？二都有哪些？3</div>
											</div>
											<div class="rdxx_li_d2 oh1">审核买方购房资质，网签，网上审税，网上预约缴税过户。费用需要根据...</div>
											<div class="dis_flex  ju_b  dy_hf_btn_li">
												<div class="dy_hf_btn dis_flex aic">1位咨询顾问回复</div>
												<div class="dy_time">2020-02-06</div>
											</div>
										</div>
									</a>
								</div>
								<div class="rdxx_list" v-if="rd_cur==1">
									<a href="rd_news_xq.html" class="rdxx_li dis_flex">
										<div class="rdxx_li_img div_img">
											<div style="background-image: url(../images/fw_bg_2.png);"></div>
										</div>
										<div class="flex_1 rdxx_li_msg dis_flex_c ju_a">
											<div class="dis_flex ju_b rdxx_li_d1">
												<div class="flex_1 rdxx_li_tit">北京的二手房交易流程是什么？二都有哪些？</div>
												<div class="rdxx_li_time">2020-05-09</div>
											</div>
											<div class="rdxx_li_d2 oh1">审核买方购房资质，网签，网上审税，网上预约缴税过户。费用需要根据...</div>
										</div>
									</a>
									<a href="rd_news_xq.html" class="rdxx_li dis_flex">
										<div class="rdxx_li_img div_img">
											<div style="background-image: url(../images/fw_bg_1.png);"></div>
										</div>
										<div class="flex_1 rdxx_li_msg dis_flex_c ju_a">
											<div class="dis_flex ju_b rdxx_li_d1">
												<div class="flex_1 rdxx_li_tit">北京的二手房交易流程是什么？二都有哪些？</div>
												<div class="rdxx_li_time">2020-05-09</div>
											</div>
											<div class="rdxx_li_d2 oh1">审核买方购房资质，网签，网上审税，网上预约缴税过户。费用需要根据...</div>
										</div>
									</a>
									<a href="rd_news_xq.html" class="rdxx_li dis_flex">
										<div class="rdxx_li_img div_img">
											<div style="background-image: url(../images/fw_bg_4.png);"></div>
										</div>
										<div class="flex_1 rdxx_li_msg dis_flex_c ju_a">
											<div class="dis_flex ju_b rdxx_li_d1">
												<div class="flex_1 rdxx_li_tit">北京的二手房交易流程是什么？二都有哪些？</div>
												<div class="rdxx_li_time">2020-05-09</div>
											</div>
											<div class="rdxx_li_d2 oh1">审核买方购房资质，网签，网上审税，网上预约缴税过户。费用需要根据...</div>
										</div>
									</a>
									<a href="rd_news_xq.html" class="rdxx_li dis_flex">
										<div class="rdxx_li_img div_img">
											<div style="background-image: url(../images/fw_bg_3.png);"></div>
										</div>
										<div class="flex_1 rdxx_li_msg dis_flex_c ju_a">
											<div class="dis_flex ju_b rdxx_li_d1">
												<div class="flex_1 rdxx_li_tit oh1">北京的二手房交易流程是什么？二都有哪些？</div>
												<div class="rdxx_li_time">2020-05-09</div>
											</div>
											<div class="rdxx_li_d2 oh1">审核买方购房资质，网签，网上审税，网上预约缴税过户。费用需要根据...</div>
										</div>
									</a>
								</div>
							</div>
							<div class="in4b_br">
								<div class="dis_flex in4b_br_tit">快速提问</div>
								<form class="tw_form" action="">
									<div class="tw_content">
										<textarea name="content" placeholder="请输入您想咨询的问题,咨询顾问会尽快给您回复"  v-model="content" maxlength="100"></textarea>
										<div class="tw_cnum">{{content.length}}/100</div>
									</div>
									<input class="tw_tel" type="number" name="phone" placeholder="请输入您的手机号">
									<div class="dis_flex ju_b">
										<div></div>
										<input type="submit" class="form_btn">
									</div>
								</form>
								<div class="index_tw_tel" style="background-image: url(../images/tw_tel_03.png);">电话：400-6905-5050</div>
								<div class="tw_bb">
									<a href="gw_xq.html" class="tw_bb_b dis_flex">
										<div class="gw_twtx">
											<div class="gw_tximg" style="background-image: url(../images/user_tx.png);"></div>
											<div class="zx_user_lv dis_flex aic ju_c" style="background-image: url(../images/user_lvbg.png);">好评率：100%</div>
										</div>
										<div class="gw_msg">
											<div class="gw_msg_d1">李连号</div>
											<div class="zx_user_tabs gw_user_tabs dis_flex">
												<div class="zx_user_tab">继承过户</div>
												<div class="zx_user_tab">买卖服务</div>
												<div class="zx_user_tab">买卖服务</div>
											</div>
											<div class="zx_user_tel gw_user_tel">电话：40018925843转1384</div>
											<div href="###" class="smtel_box zx_user_telewn gw_user_telewn dis_flex aic ">
												扫码打电话<img src="../images/tel_ewm_03.jpg" alt="">
												<div class="smtel_tk">
													<img src="../images/index_bewm.png" alt="">
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div>
							<div class="jyzs_tit dis_flex ju_b aic">
									<div class="dis_flex in4b_br_tit">交易知识</div>
									<a class="fw_more  dis_flex aic" href="jyzs.html">更多知识<img src="../images/more01.png" alt=""></a>
							</div>
							<div class="zs_list dis_flex clearfix">
								<a class="flex_03" href="jyzs_details.html">李先生的妻子最近要与父亲办理房亲办理房</a>
								<a class="flex_03" href="jyzs_details.html">李先生的妻子最近要与父亲办理房亲办理房</a>
								<a class="flex_03" href="jyzs_details.html">李先生的妻子最近要与父亲办理房亲办理房</a>
								<a class="flex_03" href="jyzs_details.html">李先生的妻子最近要与父亲办理房亲办理房</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="index_box5 clearfix">
				<div class="w1200 w12001">
					<div class="dis_flex ju_c fwcn_tit">
						<img src="../images/fwcn_icon.png" alt="">
					</div>
					<div class="fwcn_list dis_flex ju_b">
						<div class="fwcn_li" style="background-image: url(../images/index_img_03.jpg);">
							<div class="fwcn_li_d1">佣金透明</div>
							<div class="fwcn_li_d1 fwcn_li_d2">拒绝追加</div>
						</div>
						<div class="fwcn_li" style="background-image: url(../images/index_img_05.jpg);">
							<div class="fwcn_li_d1">真是房源</div>
							<div class="fwcn_li_d1 fwcn_li_d2">不吃差价</div>
						</div>
						<div class="fwcn_li" style="background-image: url(../images/index_img_07.jpg);">
							<div class="fwcn_li_d1">资金托管</div>
							<div class="fwcn_li_d1 fwcn_li_d2">安全保障</div>
						</div>
						<div class="fwcn_li" style="background-image: url(../images/index_img_09.jpg);">
							<div class="fwcn_li_d1">交易不成</div>
							<div class="fwcn_li_d1 fwcn_li_d2">佣金全退</div>
						</div>
					</div>
				</div>
			</div>
			<div class="index_box5 clearfix">
				<div class="w1200 w12001">
					<div class="dis_flex ju_c fwcn_tit">
						<img src="../images/hzhb_icon.png" alt="">
					</div>
					<div class="hzhb_list dis_flex">
						<a href="###" class="hzhb_li dis_flex aic ju_c">
							<img src="../images/index_img_16.jpg" alt="">
						</a>
						<a href="###" class="hzhb_li dis_flex aic ju_c">
							<img src="../images/index_img_18.jpg" alt="">
						</a>
						<a href="###" class="hzhb_li dis_flex aic ju_c">
							<img src="../images/index_img_20.jpg" alt="">
						</a>
						<a href="###" class="hzhb_li dis_flex aic ju_c">
							<img src="../images/index_img_23.jpg" alt="">
						</a>
						<a href="###" class="hzhb_li dis_flex aic ju_c">
							<img src="../images/index_img_25.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="tk_box" v-if="js_zf" :style="js_zf?'display:block;':''">
				<div class="tk_ccz">
					<div class="zf_tk zf_tk1">
						<div class="tk_off dis_flex aic">
							<div class="fz18 fwb dis_flex aic" style="color: #000;">更多顾问</div>
							<div class="tk_off_btn" @click="js_zf=false">
								<img src="../images/guanbi.png" alt="">
							</div>
						</div>
						<div class="tk_inr" style="overflow-y: auto;max-height: 500px;">
							<div v-for="(item,index) in 5" class="xzgw_li dis_flex ju_b aic">
								<a href="gw_xq.html" class="tw_bb_b tw_bb_b1 dis_flex" style="width: 549px;">
									<div class="gw_twtx">
										<div class="gw_tximg" style="background-image: url(../images/user_tx.png);"></div>
										<div class="zx_user_lv dis_flex aic ju_c" style="background-image: url(../images/user_lvbg.png);">好评率：100%</div>
									</div>
									<div class="gw_msg">
										<div class="gw_msg_d1">李连号</div>
										<div class="zx_user_tabs gw_user_tabs dis_flex">
											<div class="zx_user_tab">继承过户</div>
											<div class="zx_user_tab">买卖服务</div>
											<div class="zx_user_tab">买卖服务</div>
										</div>
										<div class="zx_user_tel gw_user_tel">电话：40018925843转1384</div>
										<div href="###" class="zx_user_telewn gw_user_telewn dis_flex aic smtel_box">
											扫码打电话<img src="../images/tel_ewm_03.jpg" alt="">
											<div class="smtel_tk">
												<img src="../images/index_bewm.png" alt="">
											</div>
										</div>
									</div>
								</div>
								
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="index_box6 clearfix">
				<div class="w1200 w12001 dis_flex ju_b">
					<div class="index6_list dis_flex ju_b">
						<div class="index6_li">
							<div class="index6_li_d1">公司信息</div>
							<a class="index6_li_d1" href="about.html?type=1">关于我们</a>
							<a class="index6_li_d1" href="yhxy.html">用户协议</a>
							<a class="index6_li_d1" href="ysqy.html">隐私政策</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">服务咨询</div>
							<a class="index6_li_d1">400-189-3038</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">商务合作</div>
							<a class="index6_li_d1">1745843160</a>
						</div>
					</div>
					<div class="gzh_box">
						<img src="../images/index_bewm.png" alt="">
						<div>关注公众号<br>获取更多过户知识</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div class="footer tac">
			<div class="w1200">
				copyright 2003-2022 北京叁叁八五资讯有限公司 | 京ICP备18037428号-1 京公网安备 11010602100441号<br>
				违法和不良信息举报电话：010-56319651 举报邮箱：jubao@3385.com
			</div>
		</div>
		<!-- 加载中 -->
		<div class="load_box" style="display: none;">
			<img src="../images/load.gif" alt="">加载中...
		</div>
		<!-- 加载中 -->
		<script>
			//开启加载层
			function openload() {
				$(".load_box").fadeIn(500);
			};
			//关闭加载层
			function closeload() {
				$(".load_box").fadeOut(500);
			};
			//加载完成关闭
			$(window).load(function() {
				closeload();
			});
			$(function() {
				// banner
				$('.single-item').slick({
					dots: true,
					speed: 500,
					arrows: true,
					slidesToShow: 1,
					slidesToScroll: 1,
					autoplay: true,
					autoplaySpeed: 3000
				});
				


				if ($(window).width() > 768) {
					var mySwiper = new Swiper('.swiper-container', {
						// autoplay: true,//可选选项，自动滑动
						loop: true,
						slidesPerView: 4,
						spaceBetween: 10,
						// centeredSlides : true,
						pagination: {
							el: '.swiper-pagination',
						},
						navigation: {
							nextEl: '.swiper-button-next1',
							prevEl: '.swiper-button-prev1',
						},
					})
				} else {
					var mySwiper = new Swiper('.swiper-container', {
						// autoplay: true,//可选选项，自动滑动
						loop: true,
						slidesPerView: 2,
						spaceBetween: 5,
						// centeredSlides : true,
						navigation: {
							nextEl: '.swiper-button-next1',
							prevEl: '.swiper-button-prev1',
						},
					})
				};

			})



			var vm = new Vue({
				el: "#wrap",
				data: {
					rd_cur: 0, //热点分类
					ss_type: 0,
					js_zf:false,
					content: '',

				},
				created: function() {},
				methods: {}
			});
			function rd_fuc(num){
				if(vm.rd_cur==num){
					return
				}
				vm.rd_cur=num
			}
		</script>


	</body>
</html>
