<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no">
		<title>易房助手</title>
		<meta name="Keywords" content="易房助手">
		<meta name="Description" content="易房助手">
		<link href="../images/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../images/css/swiper.min.css">
		<link href="../images/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick-theme.css" rel="stylesheet" type="text/css">
		<link href="../images/css/style.css" rel="stylesheet" type="text/css">
		<script src="../images/js/jquery.min.js"></script>
		<script src="../images/js/layer/layer.js"></script>
		<script src="../images/js/vue.min.js"></script>
		<script src="../images/js/swiper.min.js"></script>
		<script src="../images/js/slick.js"></script>
		<script src="../images/js/IPurl.js"></script>
		<script src="../images/js/video/TcPlayer-2.3.2.js" charset="utf-8"></script>
	</head>

	<body style="">
		<div id="wrap">
			<div class="top_box">
				<div class="w1200 w12001 oh">
					<a href="index.html" class="logo fl">
						<img src="../images/logo.png" alt="">
					</a>
					<div class="sj_btn">
						<p></p>
						<p></p>
						<p></p>
					</div>
					<a class="go_my fr" href="./my.html">
						<img src="../images/my.png" alt="">
					</a>
					<div class="nav_box fr oh">
						<a href="index.html" id="active0" >首&nbsp;&nbsp;&nbsp;页</a>

						<a href="fwlb.html" id="active1">服务类别</a>
					
						<a href="dyjh.html" id="active2">答疑解惑</a>
						
						<a href="jyzs.html" id="active4">交易知识</a>
						<a href="fwal.html" id="active5">服务案例</a>
						<a href="sfcs.html" id="active6">税费测算</a>

					</div>
					<div class="pc_tel fr">
						<img src="../images/pc_tel.png" alt="">400-690-5050
					</div>
				</div>
			</div>
			<!-- banner -->
			<div class="login_banner" style="background-image: url(../images/images/login_banner_02.jpg);">
				<div class="w1200 w12001 dis_flex aic ju_b" style="height: 100%;">
					<div></div>
					<div class="login_box">
						<div class="login_tabs dis_flex ju_a">
							<div class="cpointer" :class="login_type==0?'cur':''" @click="rd_fuc(0)">手机动态码登录</div>
							<div class="cpointer" :class="login_type==1?'cur':''" @click="rd_fuc(1)">账号密码登录</div>
						</div>
						<div class="login_li dis_flex aic">
							<div class="li_icon dis_flex aic ju_c"><i class="iconfont icon-shouji"></i></div>
							<input class="flex_1" type="number" v-model="tel"  placeholder="请输入手机号">
						</div>
						
						
						<div  v-if="login_type==0" class="dis_flex ju_b aic" style="margin-bottom: 90px;">
							<div class="login_li dis_flex aic flex_1" style="margin-bottom: 0;width: 179px;">
								<div class="li_icon dis_flex aic ju_c"><i class="iconfont icon-suo"></i></div>
								
								<input class="flex_1" type="number" v-model="code" placeholder="请输入验证码">
							</div>
							<div v-if="yzm_type==0" class="getcode_login dis_flex aic ju_c" @click="getCode">获取验证码</div>
							<div v-if="yzm_type==1" class="getcode_login dis_flex aic ju_c">{{yztime}}s</div>
						</div>
						<div v-if="login_type==1" class="login_li dis_flex aic">
							<div class="li_icon dis_flex aic ju_c"><i class="iconfont icon-suo"></i></div>
							<input class="flex_1" type="password" v-model="pwd"  placeholder="请输入密码">
						</div>
						<div  v-if="login_type==1" class="login_other dis_flex">
							<a href="reg.html">快速注册</a>
							<a href="password.html">找回密码</a>
						</div>
						<div class="login_btn dis_flex aic ju_c" onclick="login_fuc()">登录</div>
					</div>
				</div>
			</div>
			<div class="go_pp_box">
				<div  class="w1200 w12001">
					<a class="pipei_kh" href="pipei.html" style="background-image: url(../images/images/login_tf_03.jpg);">
					</a>
				</div>
			</div>
			
			<div class="index_box6 clearfix">
				<div class="w1200 w12001 dis_flex ju_b">
					<div class="index6_list dis_flex ju_b">
						<div class="index6_li">
							<div class="index6_li_d1">公司信息</div>
							<a class="index6_li_d1" href="about.html?type=1">关于我们</a>
							<a class="index6_li_d1" href="yhxy.html">用户协议</a>
							<a class="index6_li_d1" href="ysqy.html">隐私政策</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">服务咨询</div>
							<a class="index6_li_d1">400-189-3038</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">商务合作</div>
							<a class="index6_li_d1">1745843160</a>
						</div>
					</div>
					<div class="gzh_box">
						<img src="../images/index_bewm.png" alt="">
						<div>关注公众号<br>获取更多过户知识</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div class="footer tac">
			<div class="w1200">
				copyright 2003-2022 北京叁叁八五资讯有限公司 | 京ICP备18037428号-1 京公网安备 11010602100441号<br>
				违法和不良信息举报电话：010-56319651 举报邮箱：jubao@3385.com
			</div>
		</div>
		<!-- 加载中 -->
		<div class="load_box" style="display: none;">
			<img src="../images/load.gif" alt="">加载中...
		</div>
		<!-- 加载中 -->
		<script>
			//开启加载层
			function openload() {
				$(".load_box").fadeIn(500);
			};
			//关闭加载层
			function closeload() {
				$(".load_box").fadeOut(500);
			};
			//加载完成关闭
			$(window).load(function() {
				closeload();
			});
			

			var vm = new Vue({
				el: "#wrap",
				data: {
					login_type: 0, //
					tel: '',
					code: '',
					yzm_type:0,
					yztime:0,
					pwd:''
				},
				created: function() {},
				methods: {}
			});
			function rd_fuc(num){
				if(vm.login_type==num){
					return
				}
				vm.login_type=num
			}
			
			function getCode() {
			
				if (vm.tel == '' || !(/^1\d{10}$/.test(vm.tel))) {
					alert('手机号有误')
					return
				}
				codetime()
				
			}
			function codetime() {
				
				let time = 60
				let st = setInterval(function() {
					if (time == 0) {
						vm.yzm_type = 0
						clearInterval(st);
					} else {
						let news = time--;
						// console.log(news)
						vm.yzm_type = 1
						vm.yztime = news
			
					}
				}, 1000);
			}
			function login_fuc(){
				if (vm.tel == '' || !(/^1\d{10}$/.test(vm.tel))) {
					layer.msg('手机号有误')
					return
				}
				if(vm.login_type==0){
					if (vm.code == '' ) {
						layer.msg('请输入验证码')
						return
					}
					console.log(vm.tel,vm.code)
				}
				if(vm.login_type==1){
					if (vm.code == '' ) {
						layer.msg('请输入密码')
						return
					}
					console.log(vm.tel,vm.code)
				}
			}
		</script>


	</body>
</html>
