<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no">
		<title>易房助手-新闻热点</title>
		<meta name="Keywords" content="易房助手-新闻热点">
		<meta name="Description" content="易房助手-新闻热点">
		<link href="../images/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../images/css/swiper.min.css">
		<link href="../images/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick-theme.css" rel="stylesheet" type="text/css">
		<link href="../images/css/style.css" rel="stylesheet" type="text/css">
		<script src="../images/js/jquery.min.js"></script>
		<script src="../images/js/vue.min.js"></script>
		<script src="../images/js/swiper.min.js"></script>
		<script src="../images/js/slick.js"></script>
		<script src="../images/js/IPurl.js"></script>
		<script src="../images/js/video/TcPlayer-2.3.2.js" charset="utf-8"></script>
	</head>

	<body style="">
		<div id="wrap">
			<div class="top_box">
				<div class="w1200 w12001 oh">
					<a href="index.html" class="logo fl">
						<img src="../images/logo.png" alt="">
					</a>
					<div class="sj_btn">
						<p></p>
						<p></p>
						<p></p>
					</div>
					<a class="go_my fr" href="./my.html">
						<img src="../images/my.png" alt="">
					</a>
					<div class="nav_box fr oh">
						<a href="index.html" id="active0">首&nbsp;&nbsp;&nbsp;页</a>

						<a href="fwlb.html" id="active1">服务类别</a>
						
						<a href="dyjh.html" id="active2">答疑解惑</a>
						
						<a href="jyzs.html" id="active4" class="active">交易知识</a>
						<a href="fwal.html" id="active5">服务案例</a>
						<a href="sfcs.html" id="active6">税费测算</a>

					</div>
					<div class="pc_tel fr">
						<img src="../images/pc_tel.png" alt="">400-690-5050
					</div>
				</div>
			</div>
		
			<div class="fwlb_h_tit">
				<div class="w1200 w12001 fwlb_h_tit1 dis_flex aic" ><a href="index.html">易房助手＞</a><a href="jyzs.html">新闻热点＞</a>新闻热点详情</div>
			</div>
			<div class="index_box3 clearfix" style="margin-top: 0;padding-top: 0;">
				<div class="  w1200 w12001">
				
					<div class="index4_b index4_b_dyjh">
						<div class="in4b_b dis_flex ju_b" style="border-bottom: 0;">
							<div class="in4b_bl">
								<div class="rdxx_list" style="padding-bottom: 40px;">
									<div class="jyzs_tit">北京二手房PK大揭秘！保利海棠湾VS大厂北京御园</div>
									<div class="dis_flex ju_b aic" style="margin-bottom: 30px;">
										<div class="jyzs_xq">作者：易房助手</div>
										
										<a class="share_btn_xq dis_flex aic" >
											<img src="../images/share.png" alt="">分享
										</a>
										
									</div>
									<!-- <div class="rdxx_li_d2 dis_flex" style="flex-wrap: wrap;margin-top: 20px;margin-bottom: 20px;">
										<div class="li_bq  dis_flex aic ju_c">购房指南</div>
										<div class="li_bq  dis_flex aic ju_c">过户知识</div>
										<div class="li_bq  dis_flex aic ju_c">房产买卖</div>
										<div class="li_bq  dis_flex aic ju_c">房产继承</div>
									</div> -->
									<div class="xq_fwb_box">
										俗话说，选房选地段，买房买交通，看房看配套!便利的交通条件对于人们的“衣、食、住、行”都能带来许多的好处。
										部分人眼光独到，抢先下手了位于规划地铁沿线的房子，赚的盆满钵满！
										同时，许多人也在为没能及时出手，地铁开通后房价飙涨而懊恼不已！
										在此，过户君在此总结一些地铁附近热门小区及该二手房小区的周边配套，希望对您有所帮助！
										<img src="../images/xq_img.png" alt="" style="width: 100%;margin: 20px 0;">
										感谢新老客户对小金的支持，小金会更加努力，为:提供更好的货源和服务。咸宁市桂花镇是全国闻名的桂花之乡。以桂花品种! .、
										质地优良、产量丰富而遐尔闻名。桂花镇辖内有桂花、质地优良、产量丰富而遐尔闻名。桂花镇辖内有桂花、质地优良、产量丰富而遐尔闻名。
										桂花镇辖内有桂花、质地优良、产量丰富而遐尔闻名。桂花镇辖内有桂花、质地优良、产量丰富而遐尔
										闻名。桂花镇辖内有桂花、质地优良、产量丰富而遐尔闻名。桂花镇辖内有桂花、质地优良、产量丰富而遐尔闻名。
										桂花镇辖内有桂花、质地优良、产量丰富而遐尔闻名。桂花镇辖内有桂花、质地优良、产量丰富而遐尔闻名。桂花镇辖内有桂花、质地优良、
										产量丰富而遐尔闻名。桂花镇辖内有桂花、质地优良、产量丰富而遐尔闻名。桂花镇辖内有桂花、质地优良、产量丰富而遐尔闻名。桂花镇辖内有桂花、
										质地优良、产量丰富而遐尔闻名。桂花镇辖内有桂花
									</div>
									<a class="xq_perv_btn" href="rd_news_xq.html">上一篇：北京二手房PK大揭秘！北京院子VS保利海棠湾</a>
									<a class="xq_perv_btn xq_next_btn" href="rd_news_xq.html">下一篇：北京二手房PK大揭秘！北京院子VS保利海棠湾</a>
								</div>
							</div>
							<div class="in4b_br">
								<!-- <a class="dyjh_r_btn" href="###" style="background-image: url(../images/dyjh_cs_07.jpg);margin-top: 0;"></a> -->
								<div class="in4b_br_box">
									<div class="dis_flex in4b_br_tit">顾问推荐</div>
									<div class="">
										<div  class="tw_bb_b tw_bb_b1 dis_flex" v-for="item in 5">
											<div class="gw_twtx">
												<div class="gw_tximg" style="background-image: url(../images/user_tx.png);"></div>
												<div class="zx_user_lv dis_flex aic ju_c" style="background-image: url(../images/user_lvbg.png);">好评率：100%</div>
											</div>
											<div class="gw_msg">
												<div class="gw_msg_d1">李连号</div>
												<div class="zx_user_tabs gw_user_tabs dis_flex">
													<div class="zx_user_tab">继承过户</div>
													<div class="zx_user_tab">买卖服务</div>
													<div class="zx_user_tab">买卖服务</div>
												</div>
												<div class="zx_user_tel gw_user_tel">电话：40018925843转1384</div>
												<a href="###" class="zx_user_telewn gw_user_telewn dis_flex aic">扫码打电话<img src="../images/tel_ewm_03.jpg" alt=""></a>
											</div>
										</div>
										<div class="getmore dis_flex aic ju_c" @click="getmore">查看更多<img src="../images/getmore.png" alt=""></div>
									</div>
								</div>
								<div class="in4b_br_box" style="margin-top: 22px;">
									<div class="dis_flex in4b_br_tit" style="margin-bottom: -10px;">相关知识</div>
									<div class="">
										<a href="###" class="rdxx_li dis_flex" v-for="item in 3" style="border-bottom: 0;">
											<div class="rdxx_li_img div_img" style="margin-right: 13px;">
												<div style="background-image: url(../images/fw_bg_3.png);"></div>
											</div>
											<div class="flex_1 rdxx_li_msg dis_flex_c ju_a">
												<div class="dis_flex ju_b rdxx_li_d1">
													<div class="flex_1 rdxx_li_tit oh1">北京的二手房交易流程是什么？二都有哪些？</div>
												</div>
												<div class="rdxx_li_d2 oh1">审核买方购房资质，网签，网上审税，网上预约缴税过户。费用需要根据...</div>
												<div class="rdxx_li_time">2020-05-09</div>
											</div>
										</a>
										
									</div>
								</div>
								<div class="in4b_br_box" style="margin-top: 22px;">
									<div class="dis_flex in4b_br_tit" style="margin-bottom: -10px;">相关案例</div>
									<div class="">
										<a href="###" class="rdxx_li dis_flex" v-for="item in 5" style="border-bottom: 0;color: #656565;">
											<div class="oh1">按揭房可以过户吗？按揭房子怎么过户？按揭房子怎么过户？</div>
										</a>
										
									</div>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
			<div class="index_box6 clearfix">
				<div class="w1200 w12001 dis_flex ju_b">
					<div class="index6_list dis_flex ju_b">
						<div class="index6_li">
							<div class="index6_li_d1">公司信息</div>
							<a class="index6_li_d1" href="about.html?type=1">关于我们</a>
							<a class="index6_li_d1" href="yhxy.html">用户协议</a>
							<a class="index6_li_d1" href="ysqy.html">隐私政策</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">服务咨询</div>
							<a class="index6_li_d1">400-189-3038</a>
						</div>
						<div class="index6_li">
							<div class="index6_li_d1">商务合作</div>
							<a class="index6_li_d1">1745843160</a>
						</div>
					</div>
					<div class="gzh_box">
						<img src="../images/index_bewm.png" alt="">
						<div>关注公众号<br>获取更多过户知识</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<div class="footer tac">
			<div class="w1200">
				copyright 2003-2022 北京叁叁八五资讯有限公司 | 京ICP备18037428号-1 京公网安备 11010602100441号<br>
				违法和不良信息举报电话：010-56319651 举报邮箱：jubao@3385.com
			</div>
		</div>
		<!-- 加载中 -->
		<div class="load_box" style="display: none;">
			<img src="../images/load.gif" alt="">加载中...
		</div>
		<!-- 加载中 -->
		<script>
			//开启加载层
			function openload() {
				$(".load_box").fadeIn(500);
			};
			//关闭加载层
			function closeload() {
				$(".load_box").fadeOut(500);
			};
			//加载完成关闭
			$(window).load(function() {
				closeload();
			});
		



			var vm = new Vue({
				el: "#wrap",
				data: {
					rd_cur: 0, //热点分类
					ss_type: 0,
					content: '',

				},
				created: function() {},
				methods: {}
			});
			function rd_fuc(num){
				if(vm.rd_cur==num){
					return
				}
				vm.rd_cur=num
				//获取数据
			}
			function getmore(){
				//获取数据
			}
		</script>


	</body>
</html>
