<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no" />
		<title>案例详情</title>
		<meta name="Keywords" content="易房助手">
		<meta name="Description" content="易房助手">
		<link href="../images/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../images/css/swiper.min.css">
		<link href="../images/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick-theme.css" rel="stylesheet" type="text/css">
		<!-- <link href="../images/css/style.css" rel="stylesheet" type="text/css"> -->
		<link href="../images/css/style_web.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="../images/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../images/css/vantIndex.css" />



		<script src="../images/js/jquery.min.js"></script>
		<script src="../images/js/layer/layer.js"></script>
		<script src="../images/js/clipboard.minbd62.js"></script>
		<script src="../images/js/vue.min.js"></script>
		<script src="../images/js/swiper.min.js"></script>
		<script src="../images/js/slick.js"></script>
		<script src="../images/js/IPurl_web.js"></script>
		<script src="../images/js/vant.js"></script>

		<style>
			html,
			body,
			.flex-con {
				background: #fff;
			}



			
		</style>
	</head>

	<body>
		<div id="wrap" class="wrap flex-wrap flex-vertical">
			<div class="flex-con">
				<div class="dh_top_box">
					<div class="dh_top dis_flex">
						<dvi class="dh_top_l">
							<div class="dh_back_btn" onclick="dh_back()"><i class="iconfont icon-prev"></i></div>
						</dvi>
						<div class="dh_top_name">案例详情</div>
						<dvi class="dh_top_l dh_top_r tar">
							<div class="dh_back_btn"  @click="tk_show_share=true"><i class="iconfont icon-fenxiang"></i></div>
						</dvi>
					</div>
				</div>
				<div class="al_xq_box">
					<div class="al_name">公婆7年没办过户手续，现在过户该不知道怎么办？</div>
					<div class="dis_flex aic ju_b al_aur">
						<div>作者：易房助手 <span style="margin-left: .1rem;">2020-09-03</span></div>
						<!-- <div class="xq_share dis_flex aic ju_c"><i class="iconfont icon-fenxiang2-copy-copy"></i>分享</div> -->
					</div>
					<div class="web_fwb_box">
						<div>欢迎您使用“易房助手”软件及相关服务</div>
						<br>
						<div>
							用户须知：在此特别提醒各位用户认真阅读、充分理解本《软件许可及安装协议》（下称《协议》）
							——用户应认真阅读充分理解本《协议》中各条款。您的安装、使用、获取和登XXXapp等行为将视为对本《协议》的接受，
							并同意接受本《协议》各项条款的约束。
							本《协议》是您（下称“用户”）与公司之间关于用户安装、使用软件，注册、使用、管理软件；以及使用公司
            </div>
						<img src="../images/fw_bg_7.png" alt="">
						<div>
							用户须知：在此特别提醒各位用户认真阅读、充分理解本《软件许可及安装协议》（下称《协议》）
							——用户应认真阅读充分理解本《协议》中各条款。您的安装、使用、获取和登XXXapp等行为将视为对本《协议》的接受，
							并同意接受本《协议》各项条款的约束。
							本《协议》是您（下称“用户”）与公司之间关于用户安装、使用软件，注册、使用、管理软件；以及使用公司
            </div>
					</div>
				</div>
				<div class="index_hx"></div>
				<div class="xq_url">
					<a class="dis_flex oh1" href="fwal_xq.html">上一篇：父亲邀请已经购买的房子过户给女儿，怎么办怎么办...</a>
					<a class="dis_flex oh1" href="fwal_xq.html">下一篇：父亲邀请已经购买的房子过户给女儿，怎么办怎么办...</a>
				</div>
				<div class="index_hx"></div>
				
					<!-- 推荐顾问 -->
				<div class="dis_flex aic ju_b web_h_tit">
					<a href="###" class="web_htit_name dis_flex aic">
						<img src="../images/images/web_xzicon.png" alt="" style="width: .35rem;height: .33rem;">推荐顾问</a>
					<a href="my.html" class="web_more_btn">更多顾问<i class="iconfont icon-next-m"></i></a>
				</div>
				<div class="gw_list">
					<div class="gw_li dis_flex" v-for="item in 3">
						<a href="gw_xq.html" class="dis_flex flex_1">
							<div class="div_img1 gw_index_tx">
								<div style="background-image: url(../images/user_tx.png);"></div>
							</div>
							<div class="flex_1">
								<div class="gw_idx_name">李天</div>
								<div class="dis_flex gw_bq">
									<div>买卖服务</div>
									<div>买卖服务</div>
									<div>买卖服务</div>
									<div>买卖服务</div>
								</div>
								<div class="gw_idx_tel">电话：400-58435135转12</div>
								<div class="gw_idx_hp">已为2654人服务 <span style="margin-left: .2rem;">好评率：100%</span></div>
							</div>
						</a>
						<a class="div_img1 gw_tel" href="tel:10010">
							<div style="background-image: url(../images/images/index_tel.png);"></div>
						</a>
					</div>
				</div>
				
				<div class="index_hx"></div>
				<!-- 相关案例 -->
				<div class="dis_flex aic ju_b web_h_tit">
					<a href="###" class="web_htit_name dis_flex aic">
						<img src="../images/images/web_fwalicon.png" alt="" style="width: .36rem;height: .36rem;">相关案例</a>
					
				</div>
				<div class="web_fw_list dis_flex" style="flex-wrap: wrap;">
					<a href="fwal_xq.html" class="fwal_li" v-for="item in 2">
						<div class="fwal_box">
							<div class="div_img1 fwal_img">
								<div style="background-image: url(../images/fw_bg_1.png);"></div>
							</div>
							<div class="fwal_msg dis_flex">
								<div class="oh2">父亲要将已购公房过户给女儿，怎么办怎么办怎么办怎么办怎么办...</div>
							</div>
						</div>
					</a>
				</div>
				<div class="index_hx"></div>
				<!-- 相关问答 -->
				<div class="dis_flex aic ju_b web_h_tit">
					<a href="###" class="web_htit_name dis_flex aic">
						<img src="../images/images/web_jhicon.png" alt="" style="width: .35rem;height: .33rem;">相关问答</a>
				</div>
				<div class="index_box_p03">
					<a class="dis_flex_c dyjh_li" href="dyjh_xq.html" v-for="item in 3">
						<div class=" dyjh_li_d1 dis_flex aic">
							<!-- <div class="dy_w dis_flex aic ju_c">问</div> -->
							<div class="dy_w dis_flex aic ju_c"><img src="../images/images/wen.png" alt=""></div>
							<div class="oh1 flex_1">北京的二手房交易流程是什么？二都？二都？二都？二都？二都...</div>
						</div>
						<div class=" dyjh_li_d2 dis_flex aic">
							<!-- <div class="dy_w dy_d dis_flex aic ju_c">答</div> -->
							<div class="dy_w dy_d dis_flex aic ju_c"><img src="../images/images/da.png" alt=""></div>
							<div class="oh1 flex_1">审核买方购房资质，网签，网上审税，上税上税上税上税上税上税..</div>
						</div>

						<div class="dis_flex ju_b aic dy_d3">
							<div class="dy_d3_num">1位咨询顾问回复</div>
							<div class="dy_d3_time">2020-05-09</div>
						</div>
					</a>
					<a class="my_tw dis_flex aic ju_c" href="###">我要提问<i class="iconfont icon-next-m"></i></a>
				</div>
				<div class="index_hx"></div>
				<!-- 相关知识 -->
				<div class="dis_flex aic ju_b web_h_tit">
					<a href="###" class="web_htit_name dis_flex aic">
						<img src="../images/images/web_jyzsicon.png" alt="" style="width: .29rem;height: .33rem;">相关知识</a>
					<a href="jyzs.html" class="web_more_btn">更多知识<i class="iconfont icon-next-m"></i></a>
				</div>

				<div class="index_box_p03">
					<a href="jyzs.html" class="jyzs_li dis_flex" v-for="item in 3">
						<div class="flex_1">
							<div class="jyzs_idx_d1 oh2">山东的二手房交易流程是什么？</div>
							<div class="jyzs_idx_d2 dis_flex">
								<div>购房指南</div>
								<div>过户知识</div>
								<div>贷款办理</div>
							</div>
							<div class="jyzs_idx_d3">2020-05-09</div>
						</div>
						<div class="juzs_idx_img div_img1">
							<div style="background-image: url(../images/fw_bg_4.png);"></div>
						</div>
					</a>
				</div>
				<div class="index_hx"></div>
				
			</div>
			<a class="div_img1 gotop_btn" href="javascript:window.scrollTo(0,0);">
				<div style="background-image: url(../images/images/go_top.png);"></div>
			</a>
			<!-- 分享 -->
			<div class="web_tk dis_flex_c aic" :class="tk_show_share?'tk_show':''">
				<div class="flex_1 w100" @click="tk_show_share=false"></div>
				<div class="web_tk_box tk_share_tk" style="background-image: url(../images/images/my_share_t_bg_03.jpg);">
					<div class="web_tk_box_p web_tk_box_p_share">
						<div class="tk_tit  dis_flex ju_b">
							<div></div>
							<div class="tk_no div_img1" @click="tk_show_share=false">
								<div style="background-image: url(../images/guanbi.png);"></div>
							</div>
						</div>
						<div class="tk_share_box dis_flex_c aic">
							<img class="tk_fz_img" src="../images/share_copy_03.jpg" alt="">
							<div class="tk_fz_tip">分享易房助手<br>邀请朋友一起来</div>
							<div class="tk_fz_tip2">点击复制链接分享</div>
						</div>
					</div>
				</div>
				<div class="flex_1 w100" @click="tk_show_share=false"></div>
			</div>
			<div id="footer" class="border-t">
				<ul class="flex-wrap">
					<li tapmode="hover" class="flex-con active" @click="caidan_show=!caidan_show">菜单导航
						<div v-show="caidan_show" class="caidan_list dis_flex_c aic ju_a">
							<a href="index.html">返回首页</a>
							<a href="fwal.html">服务案例</a>
							<a href="jyzs.html">交易知识</a>
							<a href="rdxw.html">热点新闻</a>
						</div>
					</li>
					<a tapmode="hover" class="flex-con" href="fwlb.html">服务项目</a>
					<a tapmode="hover" class="flex-con" href="sfcs.html">税费测算</a>
					<a tapmode="hover" class="flex-con" href="my.html">我的</a>
				</ul>
			</div>
		</div>
		<!--  <script src="./script/vconsole.min.js"></script>
<script>
 
</script> -->
		<script>
			var vm;
			$(function() {
				// 复制
				// var clipboard = new ClipboardJS('.shake_tk_copy');
				var clipboard = new ClipboardJS('.tk_share_box', {
				  text: function () {
				    return 'http://www.baidu.com'
				  }
				});
				clipboard.on('success', function(e) {
					layer.msg('复制成功')
				    console.info('Action:', e.action);
				    console.info('Text:', e.text);
				    console.info('Trigger:', e.trigger);
				
				    e.clearSelection();
				});
				
				clipboard.on('error', function(e) {
				    console.error('Action:', e.action);
				    console.error('Trigger:', e.trigger);
				});
				


			});

			vm = new Vue({
				el: "#wrap",
				data: {
					caidan_show: false, //视频分类
					tk_show_share:false,

				},
				created: function() {},
				methods: {}
			});
		</script>
	</body>

</html>
