<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no" />
		<title>提现</title>
		<meta name="Keywords" content="易房助手">
		<meta name="Description" content="易房助手">
		<link href="../images/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../images/css/swiper.min.css">
		<link href="../images/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick-theme.css" rel="stylesheet" type="text/css">
		<!-- <link href="../images/css/style.css" rel="stylesheet" type="text/css"> -->
		<link href="../images/css/style_web.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="../images/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../images/css/vantIndex.css" />



		<script src="../images/js/jquery.min.js"></script>
		<script src="../images/js/layer/layer.js"></script>
		<script src="../images/js/clipboard.minbd62.js"></script>
		<script src="../images/js/vue.min.js"></script>
		<script src="../images/js/swiper.min.js"></script>
		<script src="../images/js/slick.js"></script>
		<script src="../images/js/IPurl_web.js"></script>
		<script src="../images/js/vant.js"></script>

		<style>
			html,
			body,
			.flex-con {
				background: #F6F7F9;
			}
			.login_box input{
				text-align: right;
			}
		</style>
	</head>

	<body>
		<div id="wrap" class="wrap flex-wrap flex-vertical">
			<div class="flex-con">
				<div class="dh_top_box">
					<div class="dh_top dis_flex">
						<dvi class="dh_top_l">
							<div class="dh_back_btn" onclick="dh_back()"><i class="iconfont icon-prev"></i></div>
						</dvi>
						<div class="dh_top_name">提现</div>
						<dvi class="dh_top_l dh_top_r"></dvi>
					</div>
				</div>
			
				<div class="my_setpwd dis_flex_c aic">
					<form class="login_box">
						<div class="login_li dis_flex aic">
							<div class="tx_li_name">持卡人</div>
							<input class="flex_1" type="text" name="name" placeholder="请输入持卡人姓名" v-model="c_name">
						</div>
						<div class="login_li dis_flex aic"  @click="showPicker = true">
							<div class="tx_li_name">开户行</div>
							<div v-if="c_khh" class="flex_1 tar" v-html="c_khh"></div>
							<div v-else class="flex_1 tar" style="color: #999;">请选择</div>
							<input type="hidden" name="c_khh" v-model="c_khh">
							<i class="iconfont icon-next-m"></i>
							
						</div>
						<div class="login_li dis_flex aic">
							<div class="tx_li_name">银行卡号码</div>
							<input class="flex_1" type="number" name="c_id" placeholder="请输入银行卡号码" v-model="c_id">
						</div>
						<div class="login_li dis_flex aic">
							<div class="tx_li_name">可提现金额：</div>
							<div class="flex_1 tar" style="color: #FF3B3B;">88.00元</div>
							
						</div>
						<div class="login_li dis_flex aic">
							<div class="tx_li_name">提现金额</div>
							<input class="flex_1" type="number" name="tx_num" placeholder="请输入提现金额" v-model="tx_num">
						</div>
					</form>
					
				</div>
				<van-popup v-model="showPicker" position="bottom">
					<van-picker show-toolbar :columns="columns" @cancel="showPicker = false" @confirm="onConfirm" />
				</van-popup>
				<a class="logout_btn dis_flex aic ju_c" href="###" style="margin-top: 2rem;" @click="set_fuc">提交</a>
				
			</div>
			<a class="div_img1 gotop_btn" href="javascript:window.scrollTo(0,0);">
				<div style="background-image: url(../images/images/go_top.png);"></div>
			</a>
			<div id="footer" class="border-t">
				<ul class="flex-wrap">
					<li tapmode="hover" class="flex-con active" @click="caidan_show=!caidan_show">菜单导航
						<div v-show="caidan_show" class="caidan_list dis_flex_c aic ju_a">
							<a href="index.html">返回首页</a>
							<a href="fwal.html">服务案例</a>
							<a href="jyzs.html">交易知识</a>
							<a href="rdxw.html">热点新闻</a>
						</div>
					</li>
					<a tapmode="hover" class="flex-con" href="fwlb.html">服务项目</a>
					<a tapmode="hover" class="flex-con" href="sfcs.html">税费测算</a>
					<a tapmode="hover" class="flex-con" href="tel:18300000000">一键拨号</a>
				</ul>
			</div>
		</div>
		<!--  <script src="./script/vconsole.min.js"></script>
<script>
 
</script> -->
		<script>
			var vm;
			


				

			vm = new Vue({
				el: "#wrap",
				data: {
					caidan_show: false, //菜单
					showPicker:false,
					c_name: '',
					columns: [{
							values: [
								'开户行1',
								'开户行2',
								'开户行3',
								'开户行4',
								'开户行5'
							],
							defaultIndex: 0
						}
					
					],
					c_khh:'',
					c_id: '',
					tx_num:'',
				},
				created: function() {},
				methods: {
					onConfirm: function(value) { //户口
						console.log(value[0])
						this.c_khh = value[0];
						this.showPicker = false;
					},
				}
			});
			function getCode() {
			
				if (vm.tel == '' || !(/^1\d{10}$/.test(vm.tel))) {
					layer.msg('手机号有误')
					return
				}
				codetime()
				
			}
			function codetime() {
				
				let time = 60
				let st = setInterval(function() {
					if (time == 0) {
						vm.yzm_type = 0
						clearInterval(st);
					} else {
						let news = time--;
						// console.log(news)
						vm.yzm_type = 1
						vm.yztime = news
			
					}
				}, 1000);
			}
			function  set_fuc(){
				var us = $('.login_box').serializeObject();
				  console.log(us)
				if(!vm.c_name){
					layer.msg('请填写持卡人')
					return
				}
				if(!vm.c_khh){
					layer.msg('请选择开户行')
					return
				}
				if(!vm.c_id){
					layer.msg('请填写银行卡号码')
					return
				}
				if(!vm.tx_num){
					layer.msg('请填写提现金额')
					return
				}
				
			}
		</script>
	</body>

</html>
