<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no" />
		<title>我的问答</title>
		<meta name="Keywords" content="易房助手">
		<meta name="Description" content="易房助手">
		<link href="../images/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../images/css/swiper.min.css">
		<link href="../images/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick-theme.css" rel="stylesheet" type="text/css">
		<!-- <link href="../images/css/style.css" rel="stylesheet" type="text/css"> -->
		<link href="../images/css/style_web.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="../images/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../images/css/vantIndex.css" />



		<script src="../images/js/jquery.min.js"></script>
		<script src="../images/js/layer/layer.js"></script>
		<script src="../images/js/clipboard.minbd62.js"></script>
		<script src="../images/js/vue.min.js"></script>
		<script src="../images/js/swiper.min.js"></script>
		<script src="../images/js/slick.js"></script>
		<script src="../images/js/IPurl_web.js"></script>
		<script src="../images/js/vant.js"></script>

		<style>
			html,
			body,
			.flex-con {
				background: #fff;
			}
			.dh_top_l{
				width: 1.8rem;
			}
			.dh_top_r{
				
				text-align: right;
			}
		
			
		</style>
	</head>

	<body>
		<div id="wrap" class="wrap flex-wrap flex-vertical">
			<div class="flex-con">
				<div class="dh_top_box">
					<div class="dh_top dis_flex">
						<dvi class="dh_top_l">
							<div class="dh_back_btn" onclick="dh_back()"><i class="iconfont icon-prev"></i></div>
						</dvi>
						<div class="dh_top_name">我的问答</div>
						<dvi class="dh_top_l dh_top_r">
							<a @click="tk_show=true" class="mytw_btn mytw_btn" href="###">我要提问</a>
						</dvi>
					</div>
				</div>
				<!-- <div class="list_tabs_box">
					<div class="list_tabs list_tabs1">
						<a :class="list_cur==0?'cur':''" @click="set_cur(0)" href="javascript:void(0);">全部</a>
						<a :class="list_cur==1?'cur':''" @click="set_cur(1)" href="javascript:void(0);">买卖过户</a>
						<a :class="list_cur==2?'cur':''" @click="set_cur(2)" href="javascript:void(0);">继承过户</a>
						<a :class="list_cur==3?'cur':''" @click="set_cur(3)" href="javascript:void(0);">赠与过户</a>
						<a :class="list_cur==4?'cur':''" @click="set_cur(4)" href="javascript:void(0);">夫妻更名</a>
						<a :class="list_cur==5?'cur':''" @click="set_cur(5)" href="javascript:void(0);">继承过户</a>
					</div>
				</div> -->
				<div class="index_box_p03 jiazai_box">
					<a class="dis_flex_c dyjh_li" href="dyjh_xq.html" v-for="(item,index) in 20">
						<div class=" dyjh_li_d1 dis_flex aic">
							<!-- <div class="dy_w dis_flex aic ju_c">问</div> -->
							<div class="dy_w dis_flex aic ju_c"><img src="../images/images/wen.png" alt=""></div>
							<div class="oh1 flex_1">北京的二手房交易流程是什么？二都...</div>
						</div>
						<div class="boxsiz dyjh_li_d2 dis_flex aic" style="color: #656565;padding-left: .35rem;">
							<!-- <div class="dy_w dy_d dis_flex aic ju_c">答</div> -->
							
							<div v-if="index==1" class="oh1 flex_1">暂无回复</div>
							<div v-else class="oh1 flex_1">审核买方购房资质，网签，网上审税，上税上税上税上税上税上税..</div>
						</div>
				
						<div class="dis_flex ju_b aic dy_d3">
							<div v-if="index==1" class="dy_d3_num">0位咨询顾问回复</div>
							<div v-else class="dy_d3_num">1位咨询顾问回复</div>
							<div class="dy_d3_time">2020-05-09</div>
						</div>
					</a>
					<div class="zanwu">已经到底了~</div>
				</div>
			</div>
			<div class="web_tk dis_flex_c" :class="tk_show?'tk_show':''">
				<div class="flex_1" @click="tk_show=false"></div>
				<div class="web_tk_box" style="height: 5.13rem;">
					<div class="web_tk_box_p">
						<div class="tk_tit dis_flex ju_b">
							<div class="tk_t_text">我要提问</div>
							<div class="tk_no div_img1" @click="tk_show=false">
								<div style="background-image: url(../images/guanbi.png);"></div>
							</div>
						</div>
						<div class="tk_srk">
							<textarea placeholder="请描述您的问题（至少6字）" maxlength="100" v-model="tw_content"></textarea>
							<div class="dis_flex aic ju_b">
								<div></div>
								<div class="tk_srk_num">{{tw_content.length}}/100</div>
							</div>
						</div>
						<div class="tk_mytw_btn dis_flex aic ju_c" @click="tk_show=sub_tw(tw_content)">发布提问</div>
					</div>
				</div>
			</div>
			<a class="div_img1 gotop_btn" href="javascript:window.scrollTo(0,0);">
				<div style="background-image: url(../images/images/go_top.png);"></div>
			</a>
			<div id="footer" class="border-t">
				<ul class="flex-wrap">
					<li tapmode="hover" class="flex-con active" @click="caidan_show=!caidan_show">菜单导航
						<div v-show="caidan_show" class="caidan_list dis_flex_c aic ju_a">
							<a href="index.html">返回首页</a>
							<a href="fwal.html">服务案例</a>
							<a href="jyzs.html">交易知识</a>
							<a href="rdxw.html">热点新闻</a>
						</div>
					</li>
					<a tapmode="hover" class="flex-con" href="fwlb.html">服务项目</a>
					<a tapmode="hover" class="flex-con" href="sfcs.html">税费测算</a>
					<a tapmode="hover" class="flex-con" href="tel:18300000000">一键拨号</a>
				</ul>
			</div>
		</div>
		<!--  <script src="./script/vconsole.min.js"></script>
<script>
 
</script> -->
		<script>
			var vm;
			
			vm = new Vue({
				el: "#wrap",
				data: {
					caidan_show: false, //菜单
					list_cur:0,
					tk_show:'',
					tw_content:''
				},
				created: function() {},
				methods: {}
			});
			function set_cur(num){
				if(vm.list_cur==num) return
				vm.list_cur=num
			}
			function jiazai_fuc(jiazai_loading){
				// 加载
				set_loading(true)
				console.log('list加载')
				setTimeout(function (){
					set_loading(false)
				},2000)
			}
		</script>
	</body>

</html>
