<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no" />
		<title>税费测算</title>
		<meta name="Keywords" content="易房助手">
		<meta name="Description" content="易房助手">
		<link href="../images/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../images/css/swiper.min.css">
		<link href="../images/css/reset.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick.css" rel="stylesheet" type="text/css">
		<link href="../images/css/slick-theme.css" rel="stylesheet" type="text/css">
		<!-- <link href="../images/css/style.css" rel="stylesheet" type="text/css"> -->
		<link href="../images/css/style_web.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="../images/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../images/css/vantIndex.css" />



		<script src="../images/js/jquery.min.js"></script>
		<script src="../images/js/layer/layer.js"></script>
		<script src="../images/js/clipboard.minbd62.js"></script>
		<script src="../images/js/vue.min.js"></script>
		<script src="../images/js/swiper.min.js"></script>
		<script src="../images/js/slick.js"></script>
		<script src="../images/js/IPurl_web.js"></script>
		<script src="../images/js/vant.js"></script>

		<style>
			html,
			body,
			.flex-con {
				background: #fff;
			}

		</style>
	</head>

	<body>
		<div id="wrap" class="wrap flex-wrap flex-vertical">
			<div class="flex-con">
				<div class="dh_top_box">
					<div class="dh_top dis_flex">
						<dvi class="dh_top_l">
							<div class="dh_back_btn" onclick="dh_back()"><i class="iconfont icon-prev"></i></div>
						</dvi>
						<div class="dh_top_name">税费测算</div>
						<dvi class="dh_top_l dh_top_r"></dvi>
					</div>
				</div>
				<div class="sfcs_box" style="background-image: url(../images/images/sfcs_tbg_02.jpg);">
					<div class="sfcs_main">
						<div class="sfcs_top">个人不动产转让税费计算器</div>
						<div class="sfcs_tabs dis_flex ju_b">
							<div :class="tab_cur==0?'cur':''" @click="rd_fuc(1,0)">买卖</div>
							<div :class="tab_cur==1?'cur':''" @click="rd_fuc(1,1)">继承</div>
							<div :class="tab_cur==2?'cur':''" @click="rd_fuc(1,2)">赠与</div>
						</div>
						<div class="sfcs_list">
							<div class="sfcs_li dis_flex aic">
								<div class="w100 dis_flex aic ju_b" @click="showPicker = true">
									<div class="sfcs_li_name">选择不动产类别：</div>
									<div class="flex_1" v-if="budongchang" v-html="budongchang"></div>
									<div class="flex_1 c9" v-else>选择不动产类别</div>
									<i class="iconfont icon-next-m"></i>
									
									<input type="hidden" name="budongchang" v-model="budongchang">
								</div>
							</div>
							<div v-if="tab_cur==0&&budongchang=='住宅(含住宅公寓)'" class="sfcs_li dis_flex aic">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">住宅类型：</div>
									<div class="dis_flex aic">
										<div class="select_li select_li1 cur">普通住宅</div> 
										<!-- <input type="hidden" name="pay_type" value="pay_type"> -->
									</div>
								</div>
							</div>
							<div v-if="tab_cur==0&&budongchang=='住宅(含住宅公寓)'" class="sfcs_li dis_flex aic">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">住宅面积：</div>
									
									<input class="flex_1" type="number" name="zzmj" v-model="zzmj" placeholder="请输入住宅建筑面积">
									<div class="sfcs_li_name">m²</div>
								</div>
							</div>
							<div v-if="tab_cur==0&&budongchang=='住宅(含住宅公寓)'" class="sfcs_li dis_flex aic">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">住宅市场价格：</div>
									
									<input class="flex_1" type="number" name="zzscjg" v-model="zzscjg" placeholder="请输入不动产总价">
									<div class="sfcs_li_name">万元</div>
								</div>
							</div>
							<div v-if="tab_cur==0&&budongchang!='住宅(含住宅公寓)' || tab_cur==1|| tab_cur==2" class="sfcs_li dis_flex aic">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">不动产市场价格：</div>
									
									<input class="sfcs_li_int" type="number" name="bdc_pri" v-model="bdc_pri" placeholder="请输入不动产总价">
									<div class="sfcs_li_name">万元</div>
								</div>
							</div>
							<div  v-if="tab_cur==0" class="sfcs_li dis_flex aic">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">上一手交易途径：</div>
									<div class="dis_flex aic">
										<div class="select_li select_li1 f26rem" :class="prev_zhuanyi==0?'cur':''" @click="rd_fuc(4,0)">买卖</div> 
										<div class="select_li select_li1 f26rem" :class="prev_zhuanyi==1?'cur':''" @click="rd_fuc(4,1)" style="margin-left: .3rem;">继承</div> 
										<div class="select_li select_li1 f26rem" :class="prev_zhuanyi==2?'cur':''" @click="rd_fuc(4,2)" style="margin-left: .3rem;">赠与</div> 
										<input type="hidden" name="prev_zhuanyi" value="prev_zhuanyi">
									</div>
								</div>
							</div>
							<div v-if="tab_cur==0" class="sfcs_li dis_flex_c ">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">上一手交易价格：</div>
									
									<input class=" sfcs_li_int" type="number" name="prev_pri" v-model="prev_pri" placeholder="请输入上一手交易价格">
									<div class="sfcs_li_name">万元</div>
								</div>
								<div class="sr_tip">请输入上一首交易总价，如上一手交易为继承,赠与，或者交易总价无法查明的，填写0</div>
							</div>
							<div v-if="tab_cur==0" class="sfcs_li dis_flex_c">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">卖方持有年数：</div>
									
									<input class=" sfcs_li_int" type="number" name="to_year" v-model="to_year" placeholder="请输入卖方持有年数">
									<div class="sfcs_li_name">年</div>
								</div>
								<div class="sr_tip">请输入卖方持有不动产的年数，取整数，如：3.7年填入3</div>
							</div>
							
							<div v-if="tab_cur==0&&budongchang=='住宅(含住宅公寓)'" class="sfcs_li dis_flex aic">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">是否买房家庭唯一住址：</div>
									<div class="dis_flex aic">
										<div class="select_li select_li1 f26rem" :class="prev_zhuanyi==0?'cur':''" @click="rd_fuc(4,0)">是</div> 
										<div class="select_li select_li1 f26rem" :class="prev_zhuanyi==1?'cur':''" @click="rd_fuc(4,1)" style="margin-left: .6rem;">否</div> 
										<input type="hidden" name="prev_zhuanyi" value="prev_zhuanyi">
									</div>
								</div>
							</div>
							
							<div v-if="tab_cur==0&&budongchang=='住宅(含住宅公寓)'" class="sfcs_li dis_flex_c">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">买方家庭已有住宅套数：</div>
									
									<input class=" sfcs_li_int" style="width: 2.9rem;" type="number" name="jy_num" v-model="jy_num" placeholder="请输入买方家庭已有住宅套数">
									<div class="sfcs_li_name">套</div>
								</div>
								<div class="sr_tip">输入买方家庭已有的住宅套数（买方家庭成员包括本人，配偶和未成年子女</div>
							</div>
							
							<div v-if="tab_cur==1" class="sfcs_li dis_flex_c aic">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">继承方式：</div>
									
								</div>
								<div class="dis_flex_c">
									<div class="select_li select_li1 dis_flex " :class="jcfs==0?'cur':''" @click="rd_fuc(6,0)">
										<div class="flex_0 fwb f26rem">法定继承</div>
										<div class="flex_1" style="color: #9A9A9A;">(配偶，子女，父母，兄弟姐妹，祖父母，外祖父母)</div>
									</div> 
									<div class="select_li select_li1 dis_flex " :class="jcfs==1?'cur':''" @click="rd_fuc(6,1)">
										<div class="flex_0 fwb f26rem">非法定继承</div>
										<div class="flex_1" style="color: #9A9A9A;">(配偶，子女，父母，兄弟姐妹，祖父母， 外祖父母范围之外的继承人)</div>
									</div> 
									<input type="hidden" name="jcfs" value="jcfs">
								</div>
							</div>
							<div v-if="tab_cur==2" class="sfcs_li dis_flex_c">
								<div class="w100 dis_flex aic ju_b flex">
									<div class="sfcs_li_name">赠与双方关系：</div>
								</div>
								<div class="dis_flex_c">
									<div class="select_li select_li1" :class="zygx==0?'cur':''" @click="rd_fuc(7,0)">
										<span class="flex_0 fwb f26rem">无偿赠与父母，子女，祖父母，孙子女，外孙子女，兄弟姐妹，对其承担直接抚养或赡养义务的扶养人或者赡养人</span>
										<span class="flex_1" style="color: #9A9A9A;">(三代以内直系亲属，兄弟姐妹，有抚养或赡养义务 的当事人)</span>
									</div> 
									<div class="select_li select_li1 dis_flex" :class="zygx==1?'cur':''" @click="rd_fuc(7,1)">
										<div class="flex_0 fwb f26rem">夫妻</div>
									</div> 
									<div class="select_li select_li1 dis_flex" :class="zygx==1?'cur':''" @click="rd_fuc(7,1)">
										<div class="flex_0 fwb f26rem">其他关系</div>
									</div> 
									<input type="hidden" name="zygx" value="zygx">
								</div>
							</div>
							
							
							
							<div class="sfcs_li dis_flex aic">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">手机号：</div>
									
									<input class="flex_1" type="number" name="js_tel" v-model="js_tel" placeholder="请输入手机号">
								</div>
							</div>
							<div class="sfcs_li dis_flex aic">
								<div class="w100 dis_flex aic ju_b">
									<div class="sfcs_li_name">验证码：</div>
									
									<input class="flex_1" type="number" name="jy_code" v-model="jy_code" placeholder="请输入验证码">
									<div  v-if="yzm_type==0" class="js_code dis_flex aic ju_c"  @click="getCode">获取验证码</div>
									<div  v-if="yzm_type==1" class="js_code dis_flex aic ju_c">{{yztime}}s</div>
								</div>
							</div>
							<div class="sfcs_jsbtn dis_flex aic ju_c" @click="js_zf=true">开始计算</div>
						</div>
					</div>
				</div>
			</div>
			<div class="web_tk dis_flex_c" :class="js_zf?'tk_show':''">
				<div class="flex_1" @click="js_zf=false"></div>
				<div class="web_tk_box" >
					<div class="web_tk_box_p">
						<div class="tk_tit tk_pay_tit dis_flex ju_b">
							<div class="tk_pay_text">支付</div>
							<div class="tk_no div_img1" @click="js_zf=false">
								<div style="background-image: url(../images/guanbi.png);"></div>
							</div>
						</div>
						<div class="pay_tk_tip">
							税费测算费用业务/支付完成即可查看<span style="color: #6880F5;">税费总额</span>
						</div>
						<div class="dis_flex aic ju_b">
							<div class="paytk_pri_text">应付金额:</div>
							<div class="cFF3838 paytk_pri dis_flex aib"><div>12</div>元</div>
						</div>
						<div class="pay_tk_xztit">选择支付方式</div>
						<div class="paytk_li dis_flex aic" @click="paytk_type=0">
							<div class="paytk_icon dis_flex aic ju_c"><i class="iconfont icon-umidd17" style="color: #02A9F1;"></i></div>
							<div class="flex_1 paytk_name">支付宝支付</div>
							<div class="paytk_xz" :class="paytk_type==0?'cur':''"></div>
						</div>
						<div class="paytk_li dis_flex aic" @click="paytk_type=1">
							<div class="paytk_icon dis_flex aic ju_c"><i class="iconfont icon-weixinzhifu" style="color:#09BB07;"></i></div>
							<div class="flex_1 paytk_name">微信支付</div>
							<div class="paytk_xz"  :class="paytk_type==1?'cur':''"></div>
						</div>
						<div class="dis_flex ju_b" style="margin-top: .5rem;">
							<div></div>
							<div class="tk_tw_btn dis_flex aic ju_c" @click="jisuan()">开始计算</div>
						</div>
					</div>
				</div>
			</div>
			<van-popup v-model="showPicker" position="bottom">
				<van-picker show-toolbar :columns="columns" @cancel="showPicker = false" @confirm="onConfirm" />
			</van-popup>
			<!-- <a class="div_img1 gotop_btn" href="javascript:window.scrollTo(0,0);">
				<div style="background-image: url(../images/images/go_top.png);"></div>
			</a> -->
			<div id="footer" class="border-t">
				<ul class="flex-wrap">
					<li tapmode="hover" class="flex-con active" @click="caidan_show=!caidan_show">菜单导航
						<div v-show="caidan_show" class="caidan_list dis_flex_c aic ju_a">
							<a href="index.html">返回首页</a>
							<a href="fwal.html">服务案例</a>
							<a href="jyzs.html">交易知识</a>
							<a href="rdxw.html">热点新闻</a>
						</div>
					</li>
					<a tapmode="hover" class="flex-con" href="fwlb.html">服务项目</a>
					<a tapmode="hover" class="flex-con" href="sfcs.html">税费测算</a>
					<a tapmode="hover" class="flex-con" href="tel:18300000000">一键拨号</a>
				</ul>
			</div>
		</div>
		<!--  <script src="./script/vconsole.min.js"></script>
<script>
 
</script> -->
		<script>
			var vm;


			vm = new Vue({
				el: "#wrap",
				data: {
					caidan_show: false, //菜单
					tab_cur: 0,
					showPicker: false,
					columns: [{
							values: [
								'住宅(含住宅公寓)',
								'车位',
								'商铺/门面',
								'写字楼(含商服类公寓）'
							],
							defaultIndex: 0
						}

					],
					budongchang: '住宅(含住宅公寓)',
					zflx:0,     //住房类型：：
					zzmj:'',     //住宅面积：
					zzscjg:'',     //住宅市场价格：
					bdc_pri:'',     //不动产市场价格：
					prev_zhuanyi:0,   //上一首交易途径：
					prev_pri:'',     //上一首交易价格：
					to_year:'',      //卖房持有年数：
					is_only:0,      //是否买房家庭唯一住址：
					jy_num:'',       //买方家庭已有住宅套数：
					
					
					jcfs:0,       //继承方式
					zygx:0,       //赠与双方关系：
					js_tel:'',
					jy_code:'',
					
					yzm_type :0,
					yztime:0,
					
					
					js_zf:false,
					// js_zf:true,
					paytk_type:0,
				},
				created: function() {},
				methods: {

					onConfirm: function(value) { //户口
						console.log(value[0])
						this.budongchang = value[0];
						reset_data()
						this.showPicker = false;
					},
				}
			});
			
			
			function rd_fuc(type,num){
				if(type==1){
					console.log(vm.tab_cur,num)
					if(vm.tab_cur==num){
						return
					}
					vm.tab_cur=num
					 reset_data()
				}
				if(type==2){
					if(vm.budongchang==num){
						return
					}
					vm.budongchang=num
				}
				if(type==3){//zflx
					if(vm.zflx==num){
						return
					}
					vm.zflx=num
				}
				//prev_zhuanyi
				if(type==4){//zflx
					if(vm.prev_zhuanyi==num){
						return
					}
					vm.prev_zhuanyi=num
				}
				if(type==5){//zflx
					if(vm.is_only==num){
						return
					}
					vm.is_only=num
				}
				//jcfs
				if(type==6){
					if(vm.jcfs==num){
						return
					}
					vm.jcfs=num
				}
				if(type==7){
					if(vm.zygx==num){
						return
					}
					vm.zygx=num
				}
			}
			function getCode() {
			
				if (vm.js_tel == '' || !(/^1\d{10}$/.test(vm.js_tel))) {
					alert('手机号有误')
					return
				}
				codetime()
				
			}
			function codetime() {
				
				let time = 60
				let st = setInterval(function() {
					if (time == 0) {
						vm.yzm_type = 0
						clearInterval(st);
					} else {
						let news = time--;
						// console.log(news)
						vm.yzm_type = 1
						vm.yztime = news
			
					}
				}, 1000);
			}
			function jisuan(){
				
				var datas={
					tab_cur:vm.tab_cur,
					budongchang:vm.budongchang,
					zzmj:vm.zzmj,     //住宅面积：
					zzscjg:vm.zzscjg,     //住宅市场价格
					prev_zhuanyi:vm.prev_zhuanyi,//上一首交易途径：
					prev_pri:vm.prev_pri,   //上一首交易价格：
					to_year:vm.to_year,   //卖房持有年数：
					jy_num:vm.jy_num,
					is_only:vm.is_only,
					js_tel:vm.js_tel,
					jy_code:vm.jy_code,  //验证码：
				}
				if(vm.tab_cur==0&&vm.budongchang!='住宅(含住宅公寓)'){
					datas={
						tab_cur:vm.tab_cur,
						budongchang:vm.budongchang,
						
						bdc_pri:vm.bdc_pri,
						prev_zhuanyi:vm.prev_zhuanyi,//上一首交易途径：
						prev_pri:vm.prev_pri,   //上一首交易价格：
						to_year:vm.to_year,   //卖房持有年数：
						js_tel:vm.js_tel,
						jy_code:vm.jy_code,  //验证码：
					}
				}
				if(vm.tab_cur==1){
					datas={
						tab_cur:vm.tab_cur,
						budongchang:vm.budongchang,
						
						bdc_pri:vm.bdc_pri,
						jcfs:vm.jcfs,
						js_tel:vm.js_tel,
						jy_code:vm.jy_code,  //验证码：
					}
				}
				if(vm.tab_cur==2){
					datas={
						tab_cur:vm.tab_cur,
						budongchang:vm.budongchang,
						
						bdc_pri:vm.bdc_pri,
						zygx:vm.zygx,
						js_tel:vm.js_tel,
						jy_code:vm.jy_code,  //验证码：
					}
				}
				console.log(datas)
				console.log(vm.paytk_type)
				// if(vm.jisuan_jieguo==2) return
				//关闭弹框
				vm.js_zf=false
				var type1=0
				if(vm.budongchang=='住宅(含住宅公寓)'){
					type1=0
				}else{
					type1=1
				}
				jump('sfcs_jg.html?type='+vm.tab_cur+'&type1='+type1+'&s=1112')
				
			}
			
			function reset_data(){
				// vm.zhuanyi= 0 //转移方式
				// 转移方式-买卖 0
				// vm.budongchang= 0 //不动产类别：
				vm.zflx=0     //住房类型：：
				vm.zzmj=''     //住宅面积：
				vm.zzscjg=''     //住宅市场价格：
				vm.bdc_pri=''     //不动产市场价格：
				vm.prev_zhuanyi=0   //上一首交易途径：
				vm.prev_pri=''     //上一首交易价格：
				vm.to_year=''      //卖房持有年数：
				vm.is_only=0      //是否买房家庭唯一住址：
				vm.jy_num=''       //买方家庭已有住宅套数：
				
				
				vm.jcfs=0       //继承方式
				vm.zygx=0       //赠与双方关系：
				vm.js_tel=''
				vm.jy_code=''
				
				vm.yzm_type =0
				vm.yztime=0
				
				vm.jsjg_show=false
				vm.jisuan_jieguo=1
			}
		</script>
	</body>

</html>
